[2016-05-06 22:19] joezuntz opened #1 "Link to CLASS"
We'd like to optionally get the matter power spectrum from CLASS.

Will need to
 -[] add CLASS code to repo
 -[] link to it etc.
 -[] add power spectrum config option
 -[] call class from the relevant function (with initialisation and finalization)

[2016-05-06 22:20] joezuntz opened #2 "Use GSL accelerators for splines"
This will speed up all the splines.

[2016-05-06 22:22] joezuntz opened #3 "Additional parameter creation routines"
- non-flat lcdm
- flat wcdm
- general case with standard growth
- modified growth (requires delta G functionality)

[2016-05-06 22:37] joezuntz opened #4 "Add modified growth rate function"
We'd like to provide a parameterization that decouples growth from expansion history. The simplest way we could think of was to have, for some user-supplied spline (or function??) delta_growth:
    growth(a) -> growth(a) \* p(a)

Maybe with a placeholder p(a) = 1

As you added the growth code would you be able to add this to the growth_ode_system and growth_factor_and_growth_rate function somehow?

[2016-05-09 18:46] #2 closed, assigned to joezuntz

[2016-06-06 10:43] elisachisari opened #5 "Consistency with code comparison"
We need a module to check the outputs of CCL to our benchmark code comparison. Is this old_test?

[2016-07-19 17:53] #1 closed, assigned to elikrause

[2016-07-20 13:16] elikrause opened #6 "Theorist-level observables: C(l)s"
- [ ] weak lensing tomography power spectra
- [ ] clustering tomography power spectra, Limber + linear bias
- [ ] galaxy-galaxy lensing power spectra, Limber
- [ ] clustering tomography power spectra, exact + user supplied bias

[2016-07-20 13:16] elikrause opened #7 "Theorist-level observables: Clusters"
- [ ] cluster number counts, without mass-observable relation complications
- [ ] cluster number counts, binning by observable mass proxy
- [ ] cluster lensing power spectra

[2016-07-20 13:21] elikrause opened #8 "Break CCL"
Send version 0.0 to theorists to see whether they can interface, and figure out how exotic models break it

[2016-07-20 13:23] elikrause opened #9 "Interface with PZ"

[2016-07-20 13:28] elikrause opened #10 "Discuss what's public, and where to split likelihood and CCL"

[2016-07-20 13:36] elikrause opened #11 "Python Interface for high-level routines"

[2016-07-20 13:39] elikrause opened #12 "Option to link to local/different copy of CLASS"
add option to link to user specified CLASS in Makefile
add option to pass user specified additional configuration parameters to CLASS

[2016-07-20 13:40] elikrause opened #13 "Add neutrino parameters, pass to CLASS"

[2016-07-20 13:47] elikrause opened #14 "Add routine for 2D splines"

[2016-07-20 13:50] elikrause opened #15 "Add 2D +3D conversion between power spectra and correlation functions"

[2016-07-20 13:56] elikrause opened #16 "halofit calculation within CCL"
Separate call to CLASS from halofit calculation for speed up

[2016-07-20 14:11] damonge opened #17 "D(a) normalization"
The growth factor seems to be normalized to \propto a at early times, but we probably want to have it normalized to D(z=0)=1.

[2016-07-22 00:11] drphilmarshall opened #18 "Use pull requests?"
Hi all,

Once this week's sprint is over, how about we switch to Read access for the Members team, and get in the habit of submitting [pull requests](https://guides.github.com/introduction/flow/) from forks? I really like how [pull requests on GitHub enable easy code review](https://guides.github.com/introduction/flow/), which I think could be important for this project.  What do you think?

Phil

[2016-07-22 11:08] c-d-leonard opened #19 "create cosmology function for w0 / wa"
It would be good to have a function equivalent to ccl_parameters_create_flat_wcdm which accepts non-zero wa.

[2016-07-22 11:38] #19 closed, assigned to elikrause

[2016-07-22 15:07] elisachisari opened #20 "ccl_compute_distances"
It isn't clear that this function is needed to call the growth, for example. We tried calling growth alone in one of the test scripts and realized we needed compute_distances before. Perhaps rename this to something more general or make it part of create_cosmology somehow?

[2016-07-22 15:17] elisachisari opened #21 "ccl_test_bbks"
We are missing the proper sigma_8 normalization to compare to benchmark - this is in the to do list.

[2016-07-27 11:26] elisachisari opened #22 "LSST specs tests needed"
Outputs of these new routines in the LSST_specs branch (placeholder) need to be tested.

[2016-09-04 14:25] slosar opened #23 "Change how status is processed."
Some routines now have status, some don't and in any case it is processed somewhat cumbersomely.

I propose the following:
- ccl_cosmology' carries around a status flag itself, like int status
- any routine that needs to raise status, changes that flag. This means you don't need an extra parameter and we always carry around ccl_cosmology anyway
- on the input, you could set this flag as -1 for the

[2016-09-04 14:27] slosar opened #24 "document units *everywhere*"
See e.g. ccl_background.h:

`
double ccl_luminosity_distance(ccl_cosmology * cosmo, double a);
`
ok, I can guess what this is, but you need to document the units, possibly in the header file.

[2016-09-04 14:31] slosar opened #25 "Make actual unit tests"
Currently the code seems to run some test upon make test, but in some tests not even status flags are checked, let alone the output (as far as I can tell, correct me if wrong).

[2016-09-05 20:01] slosar opened #27 "Check out CosmoMAD"
@damonge @elikrause @joezuntz
Guys,

This is not really an issue, since it is not clear what could close it, but in absence of other tools:
check out this:

https://github.com/damonge/CosmoMAD

and the example in the doc:
https://github.com/damonge/CosmoMAD/blob/master/doc/CosmoMad.pdf

It does seem pretty similar in spirit to CCL, I guess we can just copy-paste much of the code from there.

[2016-09-07 11:00] rainwoodman opened #28 "GObject Introspection"
This is probably too late in the game.  But since CCL is a C, I feel obligated to mention this.

GObject Introspection allows one to automatically generate bindings for a huge bunch of languages. (Python, Javascript, Lua Ruby, and apparently Julia too ...).  It is one of the core technology behind the GNOME desktop environment.

See https://wiki.gnome.org/Projects/GObjectIntrospection

There is a

[2016-09-09 17:42] #28 closed, assigned to nobody

[2016-09-19 19:47] #27 closed, assigned to nobody

[2016-09-27 03:18] #17 closed, assigned to nobody

[2016-10-14 13:11] damonge opened #32 "omega_g"
in ccl_parameters_fill_initial omega_g is set to 1.7E-5. Assuming this is omega_photons, this would be incorrect (for T_CMB=2.7255 it would be 2.47E-5).

[2016-10-14 13:48] #24 closed, assigned to elisachisari

[2016-10-19 18:48] #4 closed, assigned to damonge

[2016-10-28 13:48] #5 closed, assigned to nobody

[2016-11-05 23:36] #22 closed, assigned to c-d-leonard, elisachisari

[2016-11-09 14:48] #21 closed, assigned to elisachisari

[2016-11-09 14:48] #20 closed, assigned to nobody

[2016-11-09 15:37] #6 closed, assigned to nobody

[2016-11-09 16:16] elisachisari opened #41 "Should we be tracking .gitignore?"
Currently the master branch is tracking the .gitignore file. Is there a good reason to track it? Shouldn't each user define their own .gitignore?

[2016-11-09 16:41] elisachisari opened #43 "Improve status handling in new branches"
The following branches might need some updates in terms of handling the status and gracefully exiting in case of errors:
- angular_cls
- LSST_specs
- correlation

[2016-11-09 19:57] elisachisari opened #45 "Omega_g missing from ccl_background"
Photons are considered in some functions but not in others, we need to consistently include this. A branch is being created to solve this.

[2016-11-09 19:58] #32 closed, assigned to c-d-leonard

[2016-11-09 20:52] #45 closed, assigned to c-d-leonard

[2016-11-10 14:49] #14 closed, assigned to nobody

[2016-11-10 20:36] #3 closed, assigned to joezuntz

[2016-11-10 20:48] #9 closed, assigned to elikrause

[2016-11-10 22:57] elisachisari opened #50 "Correlation function: integration problems at small scales"
We have been comparing the benchmark correlation function with the output from CCL. Clustering results are in good agreement (although probably not at 10^-4, this needs to be checked). The weak lensing results are qualitatively similar to the benchmark at large angular separations. However, weak lensing results are sensitive to L_MAX_INT choice - the maximum ell of the integration range. FFTlog is

[2016-11-12 12:27] elisachisari opened #51 "Mass function benchmarks"
Benchmark files are needed for some of the mass function models. Agreement is only at the 10^{-2} level for the currently available benchmark - we might need to revisit this.

[2016-11-17 10:43] elisachisari opened #53 "License?"
We need to think about the license at some point. What would be a good choice? Is there a commonly adopted license by DESC?

[2016-11-28 11:11] #41 closed, assigned to nobody

[2016-12-04 12:10] elikrause opened #55 "Extrapolate power spectra for k > 50 1/Mpc?"
Computing power spectra with CLASS becomes very slow for large values of P_k_max_1/Mpc; we currently set this parameter to K_MAX (=1000.).
Given the intrinsic uncertainty of halofit at large k (and the lack of relevance of the linear power spectrum at very large k), would it make sense to only evaluate power spectra up to k ~ 50 or 100 1/Mpc, and extrapolate from there (using the analytic slope fo

[2016-12-16 21:46] elisachisari opened #56 "Correlation function & LMIN/LMAX"
FFTlog implementation for correlation function implies that the comparison to the benchmark can only be done in certain range of angular scales. If LMIN>2 or LMAX<3e4, the code ccl_test_corr would crash because gel would attempt to extrapolate the CCL correlation to the range of the benchmark. To avoid this, I implemented a temporary fix by requesting that the correlation only be compared to the b

[2016-12-18 18:38] damonge opened #58 "Curvature"
Several functions need to be generalized to K!=0. @elisachisari and I have seen, for the moment, ccl_luminosity_distance and all the line-of-sight projections needed to compute C_ells. It would also be handy to add a function in ccl_background.c that computes ccl_comoving_angular_distance besides ccl_comoving_radial_distance.

[2017-01-18 10:22] damonge opened #59 "Non-linear power spectrum for angular Cells and correlations"
Currently all angular power spectra are being computed by LOS-integrating the linear matter power spectrum with the different window functions. The rationale behind this is that what goes into the integral should be P(k,z1,z2), which for linear theory is literally: P(k,z1,z2)=sqrt(P(k,z1)*P(k,z2)). This is not the case for the non-linear power spectrum (e.g. see https://arxiv.org/abs/1612.00770),

[2017-01-30 11:02] #11 closed, assigned to joezuntz

[2017-01-30 12:01] elisachisari opened #66 "GSL interpolation at boundaries"
GSL has trouble interpolating the nonlinear matter power spectrum at the boundaries of the redshift range. If I try to evaluate the nonlinear power spectrum at a=1.0, CCL crashes. Evaluating at a=0.98, for example, is not a problem.

[2017-01-30 16:27] elikrause opened #67 "likelihood interface and data structures"
One key application for the CCL will be as theory backend for MCMC analyses. For this, a user may want to specify the angular binning (in \ell, or \theta), a set of CCL_ClTracer structures, and which (cross-) correlations of these tracers to compute.
It would be helpful if the CCL contained the necessary data structures and book-keeping code, as this will likely be common at least to LSS and WL.

[2017-01-30 23:55] philbull opened #68 "Signalling parameter-dependence of functions and validity of parameter values"
As models and cosmological parameters are added beyond vanilla LCDM, it will become necessary to signal which functions support certain new parameters, and which values of those parameters are valid. This could be done through documentation alone, but it would be more robust if the CCL code was able to perform validity checks itself.

Being able to check which parameters are supported/required by

[2017-01-31 13:15] #59 closed, assigned to nobody

[2017-01-31 17:23] philbull opened #70 "Register CCL Python package with PyPI"
Once the API has stabilised and we have a public release of CCL, the package should be registered with PyPI. This will allow people to install it using the `pip` command.

Instructions for doing this are here:
https://packaging.python.org/distributing/

[2017-02-10 18:54] #66 closed, assigned to elisachisari

[2017-02-11 10:11] elisachisari opened #78 "Use PP constants"
We've noticed differences at >1e-4 between PP constants (currently implemented in CCL), CLASS constants and GSL constants. (G is one example.) We have agreed the best is to use PP constants and we need to contact the CLASS developers to ask them to incorporate these as well if possible.

[2017-02-11 14:26] #58 closed, assigned to philbull

[2017-02-12 02:10] elikrause opened #79 "Use 2D (k,z) interpolation for linear power spectra"
Currently CCL only evalulates the linear power spectrum at z=0, and rescales to other redshifts using the growth factor.
This scaling is not exact for all cosmologies (e.g., massive neutrinos), and we should switch to a 2D (k,z) look-up table, as done for the non-linear power spectrum.

[2017-02-14 01:39] joezuntz opened #82 "Creating parameters for python layer"
There is a bug in the code to create parameters in the python layer:
[code]
yields an error ``NameError: global name 'norm_pk' is not defined`` in the relevant file.  Apparently the python layer was not updated to match the C?

[2017-02-14 05:34] #53 closed, assigned to drphilmarshall

[2017-02-15 00:18] tmcclintock opened #89 "Improve accessibility for new developers"
Please ignore this issue until after the CCL release, so that it does not bog you all down :).

New developers can more easily join the project with a few straight forward additions to the github page. Specifically, on either/both the README and the wiki we should provide some direction with a "points of entry" section. As in, if one wanted to learn the structure of CCL then this would point to wh

[2017-02-15 18:02] elikrause opened #94 "Consistent error handling"
Some routines, e.g. ccl_sigmaR and ccl_sigma8, do not take status as an argument yet. This should be updated.
The error handing in ccl_cls.c also could be made more consistent.

[2017-02-15 18:40] #82 closed, assigned to philbull

[2017-02-15 19:16] #55 closed, assigned to elisachisari

[2017-02-16 07:02] kgage opened #96 "Python Power Spectrum for scalar k"
I have run into some trouble when attempting to use a scalar value for k in a jupyter notebook.
I am using the following cosmology:
[code]
When attempting to calculate the power spectrum at a specific k value, using a length one list or array works, but using a scalar for the same value does not always work.
As an example with the linear power spectrum, using k=[1e-4] or k=np.array([1e-4]) will re

[2017-02-16 19:51] tmcclintock opened #99 "Inconsistent function signatures: redshift vs scale factor"
In the python code this can be circumvented, but in the C-code it isn't so easy. We should choose whether we want functions to be functions of redshift or scale factor.

For instance in src/ccl_power.c the function ccl_linear_matter_power() is a function of scale factor. On the other hand in src/ccl_massfunc.c the function ccl_massfunc() is a function of redshift.

To avoid confusion for users we

[2017-02-17 06:34] #96 closed, assigned to philbull

[2017-02-17 17:43] fjaviersanchez opened #102 "Unit tests and integration with Travis CI"
@dkirkby suggested using python unit tests to do integration with Travis CI. The plan is use `astropy` to check the accuracy of the parts that are already implemented there. This will be implemented in the branch `travis_integration`

[2017-02-17 19:08] tmcclintock opened #104 "Awkwardly named cosmological parameters for modified gravity"
zarr_mgrowth and dfarr_mgrowth are both parameters used for modified gravity. In pyccl/core.py this are poorly named and at the moment the docstring is incomplete because it isn't clear what they are.

[2017-02-17 19:10] tmcclintock opened #105 "Put SWIG files in .gitignore?"
SWIG generates many files when you use it to interface pyccl with CCL. For instance it creates ccllib.py and ccl_wrap.c. I think these should be put into the .gitignore so that people generate them themselves when they do the python compilation.

[2017-02-17 19:11] joezuntz opened #106 "Profile traces for ccl_sample_run"
Hi all,

@elikrause asked for someone to run a profiler on ccl_sample_run, switching between BBKS and CLASS.  I've done that with the MacOS "Instruments" program - results are on dropbox here:
https://www.dropbox.com/sh/w53sphmo33qddlj/AABZrFhWp6KiiqrvIOg57wbva?dl=0

You can open these files in Instruments, which comes with XCode, and you get a nice drill down menu showing where the time was spent

[2017-02-17 19:34] jeremyneveu opened #107 "pyccl installation does not find GSL"
On my Mac, I installed CCL without any issue, but pyccl failed to find GSL. Here is the message:
`/usr/bin/clang -fno-strict-aliasing -fno-common -dynamic -pipe -Os -fwrapv -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -I/opt/local/include/gsl/ -I/opt/local/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/numpy/core/include -Iinclude/ -Iclass/include -I/opt/local/Li

[2017-02-17 20:07] tmcclintock opened #109 "omega_m_z inconsistent with its signature"
The function omega_m_z takes in a *scale factor* instead of a redshift. This is inconsistent with the name.

This needs to be fixed on ccl_background.c and in background.py.

[2017-02-17 22:06] kgage opened #112 "Python cosmology compute_ methods"
In the core.py module, the compute_ methods under the Cosmology class are defined as
[code]
but the cosmology_compute_ functions in ccllib.py are defined as
[code]

Each of these functions requires a second argument, a status, which is not being passed from the calculate_ methods. This causes a TypeError to be raised if one attempts to use the compute_ methods.

[2017-02-17 22:33] #105 closed, assigned to philbull

[2017-02-17 22:57] tmcclintock opened #113 "Add regression tests"
With each milestone we should save the results of various tests, so that as we develop and plan new releases then we can test against our old predictions.

This is important since CCL needs to be internally (and eternally) consistent with itself as well as the unit tests we write for it.

[2017-02-17 23:44] dkirkby opened #114 "Save CLASS transfer functions when calculating matter power"
This could either be triggered by an option to `ccl_cosmology_compute_power_class()` or we could always calculate and save the transfer functions (since they are presumably always being calculated anyway) to simplify the API.  Any opinions?

[2017-02-17 23:53] tmcclintock opened #115 "Add documentation"
Documentation is being added to both the Python and the C source code files. For python we are using the [Google style guide](http://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html). For C we haven't picked a style guide yet. Here are files that have/haven't been commented properly yet.

Python files (in pyccl/):
- [x] background.py
- [x] cls.py
- [x] core.py
- [x] lsst_specs.p

[2017-02-18 18:44] damonge opened #116 "checking integration with slack"

[2017-02-18 18:44] #116 closed, assigned to nobody

[2017-02-19 14:38] tmcclintock opened #117 "Power.X functions have wrong order of arguments in signatures"
The functions in `power.py` and `ccl_power.c`, such as `linear_matter_power()` (and then non-linear version) have the function signature: `cosmo, a, k`, however all other functions of scale factor/redshift and something else (like k or M) have the scale factor/redshift as the *last* argument, rather than the second right after `cosmo`. This should be standardized.

[2017-02-22 15:33] elikrause opened #119 "Public release"
One key point of feedback during the collaboration meeting was that users would really like CCL to be public, so that code developed for DESC can be used for other projects as well (and vice versa). In general, the plan is to keep CCL as a separate library and develop the individual probe likelihoods in separate repositories, and releasing CCL does not need to not imply developing the complete cos

[2017-02-22 18:22] drphilmarshall opened #120 "Author institutions, contributions"
I'm working on `start_paper` to do a better job with author institutions and contributions, and plan on upgrading the CCL DESC Note as a test case. This should be a nice clean PR.

[2017-02-23 14:39] dkirkby opened #122 "Consistent whitespace in C code"
Our C code currently uses a mixture of white space conventions and includes examples of:
* mixed spaces and tabs used for indentation (even on the same line)
* trailing white space at the end of a line

This is a trivial issue but worth addressing soon to avoid some friction in our development process going forward.  A particular nuisance is that some popular editors (e.g. atom) automatically "fix

[2017-02-25 00:07] kgage opened #123 "Nonzero distances at a=1"
Defining the following
[code]
and then asking for the comoving radial distance at redshift zero (a=1) results in nonzero distances; moreover, the distance returned for the Lcdm cosmology is negative.
[code]
returns -4.440892098500626e-16, and
[code]
returns 4.440892098500626e-16.
I have tested with eight different cosmologies so far. Of the eight, three returned zero, three returned a magnitude of

[2017-02-26 16:00] dkirkby opened #125 "Benchmark CLASS linear power calculation"
While working on #114 I noticed that the calculation of linear power with CLASS is taking longer than I expected based on my experience with standalone CLASS.  This issue is to establish a timing benchmark and see if there is an easy way to speed it up.

[2017-02-27 13:56] damonge opened #127 "Unstable splines"
Currently any function using splines will crash if evaluated outside the interpolation range, even if its 1E-16 away from the either edge of the range. This makes the use of splines very unstable.

The way I usually deal with this is wrapping the gsl_splines into structures that contain the information necessary to extrapolate beyond the interpolation range if needed. I propose this as a solution,

[2017-02-27 18:04] dkirkby opened #128 "Allow (k, a) grid parameters to be configurable"
We currently hardcode the (k, a) grid with constants in `ccl_constants.h`.  This issue is to review this decision and possibly upgrade these parameters to be run-time configurable.  The arguments in favor of run-time configuration are to support:
- trading off speed vs accuracy,
- applications beyond calculating the baseline DESC likelihoods.

[2017-02-28 18:03] damonge opened #131 "Integration of ccl_params into ccl_cosmology"
Make constructor for ccl_cosmology take parameters as input (just to make usage easier - i.e. avoid the two-step process of creating params and then cosmology)

[2017-03-06 23:14] fjaviersanchez opened #133 "Support to python 3.x?"
I was trying to install the libraries using anaconda python 3.5 and I had some trouble related to SWIG.

Is python 3.x supported (or are we planning to support it) or right now are we only supporting python 2.7?

Has someone installed the library using python 3.x?

[2017-03-07 05:24] #112 closed, assigned to jeremyneveu

[2017-03-07 05:25] #109 closed, assigned to jeremyneveu

[2017-03-07 05:27] #25 closed, assigned to nobody

[2017-03-07 05:30] #23 closed, assigned to nobody

[2017-03-07 05:32] #43 closed, assigned to nobody

[2017-03-10 15:35] damonge opened #136 "Support functions for CCL_ClTracer"
Often we will want to just vary some nuisance parameters (e.g. bias) of a given tracer without having to recreate all its other properties. It'd be a good idea to write functions such as :
`void ccl_cl_tracer_update_bias(ccl_cosmology *cosmo,CCL_ClTracer *tr,int nz_b,double *z_b,double *b);`

[2017-03-11 16:07] damonge opened #137 "splines and thread safety"
Just realized, working on a different repo, that CCL is not thread safe due to the use of interpolation accelerators for splines. Different threads using the same ccl_cosmo will get into race conditions when updating the spline accelerators.

Not sure this is a major problem as long as it's documented, but thread safety was the main driver to make the error status a separate variable, so I just wa

[2017-03-16 14:04] elisachisari opened #138 "Check accuracy of our splines with respect to direct CLASS output"
This came up in a comment made in PR #129. We have not yet compared the direct CLASS output to the splined power spectrum from CCL. The interpolation can introduce numerical errors, so we should check this intermediate step.

[2017-03-20 11:19] elisachisari opened #140 "Improve uninstall"
We should give the user clear uninstall instructions. This is particularly relevant for the python version of CCL and in the case where the user specifies the paths to installation.

[2017-03-20 13:33] c-d-leonard opened #141 "Problem calling nonlinear P(k) at k< (kmin of CLASS)"
(I found this problem while working in the neutrinos branch - I think that it is an issue in the master branch as well, but correct me if I'm wrong.)

Short summary: When you try to get the nonlinear power spectrum from CCL below the minimum k that CLASS allows, you get a garbage answer rather than an error message (or, better, the right answer). The linear power spectrum is fine.

Longer notes:

[2017-03-21 17:22] #117 closed, assigned to elisachisari

[2017-03-22 10:42] #79 closed, assigned to elisachisari

[2017-03-22 18:36] #104 closed, assigned to philbull

[2017-03-23 05:03] #113 closed, assigned to nobody

[2017-03-23 05:48] #99 closed, assigned to villarrealas

[2017-03-26 19:57] damonge opened #148 "Hard-coded T_CMB"
Currently T_CMB is hard-coded. I don't think this is desirable (e.g. I could imagine users wanting to vary this to show the dependence of some cosmological observable on T_CMB for didactical purposes)

[2017-03-27 09:56] #123 closed, assigned to elisachisari

[2017-03-30 09:17] #141 closed, assigned to nobody

[2017-03-30 11:16] #131 closed, assigned to nobody

[2017-03-30 15:03] #125 closed, assigned to nobody

[2017-03-31 11:20] #128 closed, assigned to elisachisari

[2017-03-31 15:33] #16 closed, assigned to nobody

[2017-03-31 21:00] #107 closed, assigned to philbull

[2017-04-03 05:27] philbull opened #152 "Implement Horndeski models in CCL"
We can implement Horndeski modified gravity models by connecting CCL to the Hi_CLASS code (which is based on CLASS). This will allow CCL to make consistent predictions for observables in a broad class of scalar-tensor theories.

Part of this work will involve solving issue #12, linking to an external version of CLASS.

[2017-04-03 20:59] villarrealas opened #154 "ccl_luminosity_distance and curved cosmology"
Sean was doing documentation here at Hack Week and noticed that our ccl_luminosity_distance is not valid for curved cosmologies currently. He also noted that since it is a factor of a different from the transverse comoving distance, it could probably be accomplished by calling ccl_comoving_angular_distance and dividing out a factor of a.

Is this a quick fix, or am I misreading some code?

[2017-04-04 18:10] villarrealas opened #156 "a=1 distances not zero for python arrays"
If you pass an array to the distance functions in the Python wrapper that contains a=1, it will return a non-zero distance.

This is the behavior for passing a numpy array, a tuple, or a list.

[2017-04-05 19:06] villarrealas opened #159 "Issue w/ Error Handling in C and the Python Wrapper"
While dealing with a warning flag from ccl_massfunc that was interacting strangely with the Python wrapper, @philbull identified another issue in ccl_error.

In particular, ccl_check_status contains an exit( ) statement which, if called before the Python wrapper checks the status, kills the entire interpreter. Phil suggests changing it to return nothing. I think this probably has some nontrivial c

[2017-04-05 20:39] rainwoodman opened #160 "generated configure script is included in github."
I noticed the generated configure script is included in github.

The usual practice is not to include generated configure scripts on github.
autotools will automatically include these scripts in a release tarball.

I think people do provide an autogen.sh to preproduce the scripts after a checkout.

e.g.

https://git.gnome.org/browse/gtk+/tree/autogen.sh

autotools also have a 'maintainer-mode' whi

[2017-04-05 20:45] rainwoodman opened #161 "automated linting of source code with git."
While looking at ccl_error.c I realize the source code is a mixture of Tab and space, while assuming tab stop is 8 chars.

It may be useful to set up the infrastructure such that github can automatically transform space to tab (or tab to space).

[2017-04-05 21:15] rainwoodman opened #163 "Revisit cosmo->status_message."
The original purpose of definding status as an int and keeping error context (status_message) in cosmo object was to avoid tedious manipulation of the error status in numerical code. However, so far all places where `cosmo->status_message` is used, it is assoicated with `*status=`.

(see this via. `grep -A 1 status_message`)

Thus it appears we still propagate status all the way down anyways.

I t

[2017-04-06 15:59] #156 closed, assigned to elisachisari

[2017-04-06 19:02] mclaughlin6464 opened #167 "ccl_massfunc_f Error causes crash of run_test.py"
A warning in ccl_massfunc_f was changed to an Error. Now run_test.py crashes before finishing.

[2017-04-07 16:03] villarrealas opened #168 "Swig Python Wrapper Install Requiring Two Attempts"
When building the Python wrapper for people at this Hack Week, we came into the issue where it seemed like `python setup.py install` would need to be run multiple times for the libraries to get copied over to the python distribution. This was also the solution to get the Python installation to work for the Dockerfile in #166.

@hsnee Suspects that this may be a known issue with SWIG build order. h

[2017-04-07 16:28] villarrealas opened #169 "Python Docstrings Inconsistent in power.py"
Was running tests on my docker image and ran into an error. In particular, the docstrings for `ccl.linear_matter_power` and `ccl.nonlin_matter_power` state they should take (cosmo, a, k) where a is allowed to be array_like, but they appear to take (cosmo, k, a). I think it is just a flipped order in vectorize, but I am unsure if that requires the array_likes to be at the end or if this is just a b

[2017-04-26 16:36] elisachisari opened #171 "Incorrect growth function in the docs"
See description by @mishakb in PR #121:
"Typo in the growth equation 4 in the documentation. As written there, there should be a factor a on the RHS. I checked in the code and it is coded correctly there. I did not finish checking all the equations in the documentation."

[2017-04-27 19:42] #120 closed, assigned to drphilmarshall

[2017-04-28 19:23] elisachisari opened #173 "pyccl lags behind wrt CCL parameter input"
Upon running the Jupyter notebook for the power spectrum calculation, I ran into an error when importing pyccl. This doesn't happen if I call CCL from python directly, or if I run the python tests. I think it has do with the fact that the constants for the splines are now grouped into a struct in C, which wasn't the case before.

![screen shot 2017-04-28 at 8 16 13 pm](https://cloud.githubusercont

[2017-05-02 09:24] slosar opened #176 "Test distances to recombination"
Current checks tests distances to z=5. It would be good to extend this to z=1150 and cross-check against CLASS for cosmologies with neutrinos. These distances enter in CMB theta parameter which is constrained to 1e-4 and quite important so one would expect people to use CCL in this regime and expect high accuracy.

[2017-05-03 09:56] #173 closed, assigned to elisachisari

[2017-05-05 14:02] #169 closed, assigned to elisachisari

[2017-05-09 12:26] #12 closed, assigned to philbull

[2017-05-09 16:42] #13 closed, assigned to slosar, c-d-leonard

[2017-05-09 16:44] c-d-leonard opened #177 "Support for multiple unequal-mass neutrinos"
The current support for neutrinos is only for relativistic neutrinos and single or multiple equal-mass massive neutrinos. We need to include support  for multiple unequal-mass neutrinos.

[2017-05-11 15:07] c-d-leonard opened #179 ""Ungraceful failure" when calling ccl.massfunction.massfunc"
When calling ccl.massfunction.massfunc (from the python module), if you pass a value of halo mass that is either too low or too high, you get a gsl interpolator error (rather than an informative CCL status error).

The error I got was:
`gsl: interp.c:150: ERROR: interpolation error;
Default GSL error handler invoked.;
Aborted`

[2017-05-16 22:50] #171 closed, assigned to nobody

[2017-05-17 00:30] fjaviersanchez opened #180 "Python wrapper without SWIG doesn't include neutrinos"
I was trying to install the latest version of `master` using python and the non-SWIG wrapper (`ccl_wrapper.c`) and it outputs these errors:

``pyccl/ccl_wrap.c:3305:49: error: too few arguments to function call, expected 15, have 12
                                 nz, zarr, dfarr);
                                                ^
pyccl/../include/ccl_core.h:144:1: note: 'ccl_parameters_create' d

[2017-05-22 19:56] #180 closed, assigned to nobody

[2017-05-25 15:45] #154 closed, assigned to mclaughlin6464

[2017-06-01 00:17] mishakb opened #184 "nan output for sigma8/sigmaR"
When calculating sigma8 (in for example ccl_sample_run.c ) I get “nan” response . I tried it for the bbks, class or eh TF options and it gives nan each time. I can trace this back to cosmo->data.k_min being equal to 0 in sigmaR and gsl_integration_cquad there. It should in principle be equal to ccl_splines->A_SPLINE_MIN=0.000050 or 2*exp(sp.ln_k[0]), depending on the method selected. But it actual

[2017-06-05 20:45] c-d-leonard opened #185 "Incorrect documentation for pyccl.power"
The documentation for the functions pyccl.power.linear_matter_power and pyccl.power.nonlin_matter_power gives the args as:
k (float): Wavenumber; Mpc^-1.
a (float or array_like): Scale factor.

However, I'm pretty sure it's that k is (float or array_like) and a is (float). (When I try to run with a vector a, I get an error). We should fix this documentation.

[2017-06-06 07:40] #94 closed, assigned to elikrause

[2017-06-06 07:44] #159 closed, assigned to philbull

[2017-06-06 07:45] #167 closed, assigned to nobody

[2017-06-06 07:47] #179 closed, assigned to villarrealas

[2017-06-07 17:49] philbull opened #188 "Crash when Neff is zero"
CLASS fails when `N_nu_rel = 0`, causing CCL to crash. This should probably be handled more gracefully.

[2017-06-07 18:26] mishakb opened #189 "w_a <> 0.00 and Boltzmann_Class method to calculate the power spectrum"
When running ccl_sample_run, the code remains stuck when Initializing the power spectrum using the Boltzmann_Class method when w_a is not set to zero. This works for the bbks method.
make check works because it uses bbks.

[2017-06-08 11:39] elisachisari opened #190 "zstar is initialized to nan"
I am seeing this in the Python notebook within the correlation branch. Not only sigma8 is nan here, but also zstar. We need to check whether this is a problem.

[2017-06-12 15:30] #185 closed, assigned to nobody

[2017-06-13 09:32] elisachisari opened #193 "ccl_sample_power currently crashes in master"
This happens when you change the option ccl_bbks to ccl_linear for the matter power spectrum method. The error seems to be associated with the neutrino parameters.
![screen shot 2017-06-13 at 10 31 32](https://user-images.githubusercontent.com/9137015/27075918-8404fbf6-5023-11e7-927b-1d05f431e2fa.png)

[2017-06-13 12:42] elisachisari opened #195 "K_MIN/K_MAX undefined in ccl_sample_power_neutrinos"
These variables are undefined, causing this code to fail at compilation.
![screen shot 2017-06-13 at 13 41 36](https://user-images.githubusercontent.com/9137015/27082819-242150ca-503e-11e7-8f1c-3ac18d6a12f4.png)

[2017-06-13 12:48] elisachisari opened #196 "Missing file for neutrino tests"
The file **only_CCL_passed_params_3massless_pk_nl.dat** is missing from the repository, causing ccl_sample_power_neutrinos to segfault.

[2017-06-14 08:39] elisachisari opened #198 "Add a run of nonlinear/linear power in the checks"
Currently, `make check` runs on BBKS. I suggest making a run of, for example, sigma_8 by calling CLASS and checking that this does not crash. Some of our current bugs in master come from the fact that the checks never probe the calls to CLASS.

[2017-06-15 09:00] #193 closed, assigned to nobody

[2017-06-19 14:44] #196 closed, assigned to c-d-leonard

[2017-06-19 14:45] #195 closed, assigned to elisachisari

[2017-06-19 23:07] #51 closed, assigned to nobody

[2017-06-20 14:25] #184 closed, assigned to nobody

[2017-06-20 15:08] tmcclintock opened #200 "Move things in ccl_constants.h to lsst_specs.h"
In ccl_constants.h there are two constants: Z_MIN_SOURCES and Z_MAX_SOURCES taht are noted to be LSST specific. These should be moved to ccl_lsst_specs.h, no?

[2017-06-21 13:29] #200 closed, assigned to nobody

[2017-06-21 17:56] #106 closed, assigned to nobody

[2017-06-21 21:16] #138 closed, assigned to villarrealas

[2017-06-23 20:53] c-d-leonard opened #204 "test class 2.6.0 for compatibiltity"
We will eventually want to update the version of class. I've updated to class 2.6.0 on the branch update_class_version and tested that the checks pass, but we also want to try more aggressively to break any new features of class and find workarounds before incorporating this in master.

The "science" checks pass for make check (C) and run_tests.py (python), but for the C checks I'm getting a swig

[2017-06-28 17:25] philbull opened #207 "Check Jupyter notebooks before release"
The API has changed significantly since the Jupyter notebooks in the `tests/` directory were written. We should revisit them to make sure they still work properly, and still represent the "right" way of using the various CCL functions.

[2017-06-29 00:08] elisachisari opened #208 "Redefine the N_K parameter per log10 bin"
The N_K parameter in the INI file is set to 1000. The minimum and maximum K for splines and integration is fixed as well by our convergence tests. There was a suggestion from @jablazek to re-define N_K such that it is defined per log10 bin so that changing the K range does not imply changing the resolution of the splines.

[2017-06-30 14:32] c-d-leonard opened #209 "Consider using linear theory without neutrinos for wide z bins to get RSD in neutrino cosmologies."
From a comment by @jablazek in the ccl note draft: "RSD should be pretty minimal for angular power spectra, at least with wide enough z bins. Why not use linear theory with no neutrinos in any case and just warn about potential loss of accuracy?". We should consider this possibility.

[2017-06-30 14:55] c-d-leonard opened #210 "Consider making a default Gaussian photo-z function"
This would be able to be called by the user instead of a user defined photo-z function.

[2017-07-02 21:47] jablazek opened #215 "Support for B modes"
Generalize the xi+ and xi- integrals to include B mode contributions (basically the same J0 and J4 transforms, except with a relative minus sign for the J4). The only challenge will be in passing two power spectra, or alternatively calling the transform twice to construct the correlation functions.

[2017-07-03 18:49] elisachisari opened #216 "Remove FFTW dependence if the user doesn't compute correlations"
Consider removing FFTW dependence through some kind of "installation flag" so that users who don't need to compute correlation functions with CCL do not need to have FFTW installed.

[2017-07-04 11:45] elisachisari opened #217 "Add documentation for FFTLog"
The file fftlog.c is included in CCL for speeding up the computation of the correlation functions. It is currently a black box and needs documentation.
Source: http://casa.colorado.edu/~ajsh/FFTLog/

[2017-07-04 15:16] damonge opened #218 "FAQs"
A FAQs section in the README would be nice to address specific installation issues as we encounter them

[2017-07-05 18:41] #189 closed, assigned to mishakb

[2017-07-05 18:44] #115 closed, assigned to tmcclintock

[2017-07-05 19:07] #127 closed, assigned to philbull

[2017-07-05 21:03] jablazek opened #219 "support for 3d xi(r) and wp(rp)"
CCL should be able to calculate and output 3d correlation function xi(r) and the projected (physical) w_p(r_p). xi(r) is very straightforward with P(k) and FFTLOG. w_p(r_p) is similarly simple in the Limber approx.

[2017-07-06 09:14] #216 closed, assigned to nobody

[2017-07-06 17:04] #210 closed, assigned to nobody

[2017-07-07 10:29] #50 closed, assigned to nobody

[2017-07-07 10:52] #56 closed, assigned to elisachisari

[2017-07-07 10:56] #207 closed, assigned to philbull

[2017-07-07 15:00] #122 closed, assigned to nobody

[2017-07-07 15:01] #161 closed, assigned to dkirkby

[2017-07-07 15:03] #140 closed, assigned to fjaviersanchez

[2017-07-07 16:27] elisachisari commented on #119
The repository is now public. A new tag will soon be created once PRs #166 and #110 are merged.

[2017-07-07 16:27] #119 closed

[2017-07-07 22:24] elisachisari commented on #168
This issue requires travis integration. We have decided this is not crucial for public release, but we will keep working on this.

[2017-07-07 22:24] elisachisari commented on #102
To be completed after public release.

[2017-07-11 15:33] tmcclintock commented on #217
Would there ever be a need to make a python interface to this file or no? If so we might want to write it directly into @slosar 's FFTlog repo [here](https://github.com/slosar/FFTLog).

[2017-07-11 15:34] elisachisari opened #225 "Link CCL to FAST-PT"
We want to link to FAST-PT in order to get better nonlinear modeling on CCL. @jablazek

[2017-07-11 15:35] elisachisari opened #226 "Link CCL to CAMB"
Consider an using CAMB for getting the power spectrum

[2017-07-11 15:38] elisachisari opened #227 "Discuss python-only CCL routines"
Are there CCL routines that we would like to make available in python only? Would this help users develop new CCL features? When do we need C implementation? This is a discussion topic. @dkirkby

[2017-07-11 15:39] tmcclintock commented on #227
lol @ the labels

[2017-07-11 15:42] tmcclintock commented on #219
Now that fftlog.c is in the master branch at `src/fftlog.c` this amounts to just linking and making an interface somewhere, or else letting that file be the interface itself. @jablazek thoughts?

[2017-07-11 15:58] jablazek commented on #227
If this is an option, it would be a fast way to start playing with FAST-PT, which is pure python.

[2017-07-11 16:00] jablazek commented on #219
@elisachisari @tmcclintock @sukhdeep1989

Agreed, modulo the modifications made to fftlog to operate on projected statistics.

[2017-07-11 16:24] elisachisari opened #228 "Upload CCL note to arxiv"
I am opening the discussion of whether and when to upload the note to the arxiv. What needs to be done before we upload?

[2017-07-11 16:36] tmcclintock commented on #227
For reference: [embedding python in another language](https://docs.python.org/2/extending/embedding.html).

[2017-07-11 17:43] elisachisari opened #229 "Update the github wiki"
The github wiki is out of date. We should update it now that the repository is public.

[2017-07-11 17:54] dkirkby commented on #133
I just tried commenting out the lines that check for python 3.x and the `python setup.py install` step works fine, but I get the following import error:
[code]
This is not obviously a py3-specific problem.  Any ideas?

[2017-07-11 18:57] joezuntz opened #230 "Serializing ccl_cosmology structs"
For several uses (I'm thinking of a cosmosis interface and results saving results for later for making plots) it would be useful to be able to serialize a ccl_cosmology struct (save it to disc or to another form) and deserialize it (load from disc or somewhere else).

I think the first step in a way to do this would be to do this by writing two functions:
[code]
where the user would supply functio

[2017-07-11 20:52] elisachisari commented on #228
Consider submitting to this journal:
https://www.journals.elsevier.com/astronomy-and-computing/

[2017-07-11 22:12] damonge commented on #228
I think we should have a discussion of what functionality we would like to see in CCL when we make it globally public (as in advertising it on arXiv) vs. when do we want this to happen. For instance I'd like to see:
 - Non-limber power spectra
 - CMB lensing
 - A more complete halo model module
 - Faster correlation functions?

Maybe we could set up a deadline for when we want the arXiv thing to h

[2017-07-12 02:23] drphilmarshall commented on #228
I was just about to say, what if we hit `make apj` and submitted it to AJ?
I had a very good experience with AJ last fall, they are pretty receptive
to "software papers" these days. @sethdigel what's the Pub Board guidance
for submitting Notes to the arxiv?

In any case, you should get a DOI when you have the made the release
(including the Note) - that makes the software and Note citeable. GitHub

[2017-07-12 10:34] c-d-leonard commented on #176
I did a cursory check of CCL vs CLASS at z about 1090 (taking a z for which background quantities were output by CLASS). I found that when calling ccl.background.comoving_angular_distance() at this z, the relative agreement with CLASS was only about 1e-3, so this needs work. This was for a cosmology with no massive neutrinos. To do this, I had to adjust A_SPLINE_MIN down to 0.0001.

[2017-07-12 15:49] fjaviersanchez commented on #133
Try to run `python setup.py install` twice... Apparently this is a known issue in swig (see #168). I think we might have to rebuild the wrapper with a different swig version and that will solve the problem.

[2017-07-12 16:26] slosar commented on #217
So note that CCL just has a copy of my repo, which is just two files stolen from another project, so no need to link back to my repo. If you can make interface exactly the same and juts changeable by a flag in CCL that would be great, as you could check speed and accuracy. So I'd just change FFTlog in CCL to be a wrapper to an abstract class that can do FFTlog-like calculations

[2017-07-12 19:11] slosar commented on #217
No, I isolated it from copter by carlson (as clearly indicated in README).

[2017-07-12 19:15] jablazek commented on #217
ah, yeah. sorry, i knew that.

On Wed, Jul 12, 2017 at 3:11 PM, Anže Slosar <notifications@github.com>
wrote:

[2017-07-12 20:51] villarrealas opened #233 "Request for CCL module on NERSC"
Some NERSC users have had difficulties installing CCL and have suggested that there should be a request for it to be made a module on that system. It should be a matter of just getting sufficient people with NERSC accounts to request that it be turned into an environment module.

[2017-07-12 20:59] vrastil opened #234 "Update README.md"
- update installation issues from wiki - GSL, FFTW
 - update python example - not working now
 - stress examples in tests

[2017-07-13 11:46] elisachisari opened #235 "Add emulators for cluster mass function"
This was a suggestion from the cluster experts, pointing out that the Tinker mass function currently implemented is not accurate enough for LSST. What do you think, @tmcclintock?

[2017-07-13 11:46] elisachisari opened #236 "Request for CCL to incorporate Eifler+ baryonic models"
This was a request from the WL pipeline team. We should consider adding other models too.

[2017-07-13 11:51] villarrealas commented on #235
I agree. Tinker is not calibrated with sufficient accuracy on those scales. It is not obvious to me that emulators necessarily solves this though - getting sufficient statistics at that mass scale is a little expensive.

[2017-07-13 11:52] salmanhabib commented on #235
It's not accurate enough, but it's a reference model that's used a lot.
LSST needs roughly a factor of 5-10 improvement in accuracy.

On 7/13/17 6:46 AM, elisachisari wrote:

[2017-07-13 11:54] villarrealas commented on #236
Is this referring to his PCA analysis technique from https://arxiv.org/abs/1405.7423 ?

[2017-07-13 11:56] salmanhabib commented on #235
We have simulations at large enough volumes. The accuracy requirements
are less stringent at high mass ("clusters") and become tighter at lower
masses ("groups") due to statistics. This has been studied in a number
of papers.

On 7/13/17 6:51 AM, villarrealas wrote:

[2017-07-13 12:01] villarrealas commented on #235
Makes sense to me. Getting an emulator implemented for hmf calculation was always an end goal. Perhaps it should be made the default over Tinker once implemented though.

[2017-07-13 13:01] tmcclintock commented on #235
It's probably premature to make anything the default over Tinker. Even though @SebastianBocquet 's emulator and mine will almost certainly work better, I think that they should at least be used in some kind of analysis before becoming the default in CCL.

[2017-07-13 13:04] villarrealas commented on #235
I worry about leaving something as the default option when it is insufficient at scales that will be used. Though your point is true: Tinker has the advantage of being widely used in the literature to date.

[2017-07-13 13:10] tmcclintock commented on #235
It will still be a while until it is "outdated". I think it's fine for now. More importantly it's much easier to compare it with existing codes, which is of more immediate importance for this project.

[2017-07-13 13:57] philbull commented on #230
This seems a little complicated, but perhaps I'm not properly understanding how it would be used. Can you provide a bit of example code showing how you would use these functions?

[2017-07-13 13:58] philbull commented on #234
I fixed the Python issue in #238.

[2017-07-13 14:01] philbull commented on #226
CosmoSIS has a CAMB driver if I remember correctly. Should we use that rather than implementing our own?

[2017-07-13 14:05] philbull commented on #227
We already have some code that can call Python from the C library. It is generally quite slow if you have to make a lot of function calls, as they come with a lot of overhead. A single function call shouldn't be too slow though. There will also be some added overhead in the build system, as we'd need to link against Python.

[2017-07-13 14:14] SebastianBocquet commented on #235
I think there are two issues here, that we should treat and discuss separately: i) the science question whether the Tinker HMF is accurate enough for LSST (it isn't, and remember it is not just about box size, but also about the cosmological dependence!) and whether our HMF emulators will improve on it (yes, they will, and it's our job to show this in the papers we're writing. At that point, I'd c

[2017-07-13 14:18] villarrealas commented on #235
This probably raises the repeating issue of validation and inclusion of outside packages.

[2017-07-13 14:22] joezuntz commented on #230
Okay, so let's say that User "Tim" wants to save things to flat text files with no headers.

[code]
and similar functions.  We could supply a few example serialize_* functions

Then we would call:
[code]
This structure separates the part of the code that knows what's *in* the ccl_cosmology struct from the part that knows how to save things to disc. So we could write several sets of serialize_* fun

[2017-07-13 14:23] SebastianBocquet commented on #235
Yes, but this is true for the Tinker HMF as well, where you assume that Tinker's parameters are correct.

[2017-07-13 14:30] villarrealas commented on #235
Agreed. We really only validated that we reproduce Tinker to high precision, but a lot of hmf choices disagree at the 5-10% level. So the question of validation does need to be clarified by us on a policy level. What does it mean for the emulator to be validated according to CCL, effectively.

[2017-07-13 14:30] salmanhabib commented on #235
This is a complicated question. How can you verify/validate packages
that are based on years of work by other people using complicated codes?
Frankly, I don't think it's possible. All one can do is refer to the
papers and assume their error estimates are (more or less) correct,
unless proven otherwise.

On 7/13/17 9:18 AM, villarrealas wrote:

[2017-07-13 14:32] philbull opened #239 "Formulate a policy for external dependencies"
CCL is growing rapidly to include new external codes. We have varying levels of control over these codes, especially in terms of:
- The programming language used and their own external dependencies
- The level of testing and accuracy validation of the code
- Fixing bugs, adding features, and other issues surrounding keeping the external code up to date
- The level of documentation and performance

[2017-07-13 14:34] philbull commented on #239
Also, should we keep a 'roadmap' document spelling out which codes we are planning to integrate with CCL in the future? And should we have a formal process (with a set of 'minimum standards') for people who want to propose their code for integration within CCL?

[2017-07-13 14:35] dkirkby commented on #227
Some relevant points for the discussion:
 - It is easier (and more fun) to add a new feature in python (rather than C).
 - Numerics in python can be slower than C, but the performance is often close (using numpy, etc) and most of the CCL code will not be a bottleneck in any language.
 - The pool of experienced DESC python developers is probably larger than the pool of experienced C developers.

Th

[2017-07-13 14:39] sethdigel commented on #228
The DESC Publication Policy defines software as a publication but does not define the process by which it can be released.  The policy does seem to assume that software would be released only when its associated journal paper is released (accepted for publication and posted on the arXiv).  It does say that DESC Notes associated with a journal paper can be released when the associated paper becomes

[2017-07-13 14:56] villarrealas commented on #235
I am inclined to agree. It is a different beast than our previous validation. Whatever our decision though, it should be codified, though.

[2017-07-13 15:08] elisachisari commented on #236
Yes, this is the correct reference. Maybe @timeifler and @creativeishu can comment.

[2017-07-13 15:28] brianv0 commented on #239
For (1) and sort of (5), If it's a C library, @jchiang87 or or @rmjarvis should help out a bit with figuring out a build dependency system (CMake, Spack, or similar) and/or a packaged build system. Including too many dependencies is going bring up this issue over time.  Alternatively, we only use versions of libraries packaged with brew (os x), apt/yum, (and/or package them) or switch to Conda. If

[2017-07-13 15:31] brianv0 commented on #239
I left something out: if there's not too many dependencies, the current behavior is fine and a packaging system is probably overkill for (1), but we should have a complexity line-in-the-sand that, if it's crossed, another solution should be considered.

[2017-07-14 02:38] fjaviersanchez commented on #102
Guys, I managed to install and run the tests at Travis but I get a segmentation fault. It's in `ccl_test_pyccl_interface.py` in the power-spectra and `sigmaR` part. I suspect that Travis is running out of memory (which it's kind of surprising since I think that the tests are kind of lightweight). Any ideas? @damonge @philbull @dkirkby @elisachisari

[2017-07-14 13:34] elisachisari commented on #228
thanks @sethdigel! We plan to start working on the paper. Can you clarify the process/timescales from the Pub Policy? As far as I understand, we need to: 1) announce the paper (do we need to have a draft for this or should we do it now?), 2) go through review within TJP (suggested timescale?), 3) go through committee review (is there a timescale?), 4) go through collaboration-wide review (2 weeks)

[2017-07-14 14:00] sukhdeep1989 commented on #219
Computing w_p is in principle straight forward. It is the same transform as going from Cl->w(\theta). Right now, the ell limits are hard coded which is causing an issue to transform P(k) since k range is very different.

[2017-07-14 14:01] sukhdeep1989 commented on #219
3D xi(r) will require separate function since the bessel function is different. This is actually easier since FFTlog is coded to compute xi(r) and we had to hack around it.

[2017-07-14 14:04] jablazek commented on #219
w_p is super easy in the limber approx.

[2017-07-14 16:25] villarrealas commented on #236
My thoughts on how to go about this (could be me, or could be somebody else). Feel free to pipe in if this sounds terribly inefficient.

- We would need to store a file of {k, P(k)} ratios by @timeifler or allow input of such a file at runtime.
- A flag for the cosmology object should be aware of this option being turned on or off.
- Upon running ccl_nonlin_matter_power or similar, it should check

[2017-07-14 18:29] matthewkirby commented on #78
I ran comparisons between the constants in CCL and some other sources. The results are attached.

<img width="347" alt="screen shot 2017-07-14 at 1 27 55 pm" src="https://user-images.githubusercontent.com/5395125/28223235-a48ad32c-6898-11e7-847e-5318cba67280.png">

I submitted a PR where Msun is fixed to be the GSL value and rho_crit is derived.

[2017-07-14 18:44] matthewkirby commented on #78
#

[2017-07-14 19:09] sukhdeep1989 commented on #219
These are now implemented in correlation branch. Code compiles (C part) but output needs to be tested.

[2017-07-15 12:54] elisachisari commented on #229
Made general updates. The only page that is still out-dated is
https://github.com/LSSTDESC/CCL/wiki/Basic--usage
@vrastil, do you think you could take a look at that one?

[2017-07-15 15:04] vrastil commented on #229
I`ll get to it on Monday

[2017-07-15 19:09] rmjarvis commented on #239
I think the main bit of advice I have about this is to do your best to keep your core dependencies to a minimum.  Especially dependencies that are not pip installable.

It's usually ok to have sub-modules that have additional dependencies, so only people who want to use the features in these sub-moduels have to worry about these extra dependencies.  E.g. in GalSim, we have an lsst module that depe

[2017-07-16 00:11] tmcclintock commented on #78
This is a great analysis, @matthewkirby. Thanks for doing this.

[2017-07-16 00:32] tmcclintock commented on #208
This is addressed in #240. @wagoner47 make sure that you reference the issue(s) that you work on next time you do a PR so it's easy to cross-reference for the reviewers and anyone else that looks.

[2017-07-16 00:33] tmcclintock commented on #78
By the way, @matthewkirby make sure you cross-link the issue like so: #241 when you issue the PR, so it's slightly easier to locate the issue.

[2017-07-16 20:40] philbull commented on #230
After speaking to @joezuntz about this in person, it sounds like he already has some working infrastructure for this inside Cosmosis. It provides a standard data structure for interchanging tables etc. between different parts of a pipeline.

[2017-07-21 14:08] heather999 commented on #233
There is now a central installation of CCL 0.2 at NERSC on Cori using NERSC's  gsl, fftw and swig in:
```/global/common/cori/contrib/lsst/ccl/0.2```
There were some tweaks required to the vanilla environment.  The Python wrappers are also set up in a Python2 conda environment named CCL.  There are two set up files available for those who might want to try this out.  To use the CCL C installation:

[2017-07-21 14:21] heather999 commented on #233
The above NERSC installation could be used as the base for a module file:
http://www.nersc.gov/users/software/nersc-user-environment/modules/#toc-anchor-3
One of the NERSC folks suggested that setting up a Docker/Shifter image might be a better way to go but I think that really may depend on your use case - if this is for interactive use or batch jobs.
I can attempt to make a module file and see w

[2017-07-31 07:32] sethdigel commented on #228
@elisachisari, sorry to have somehow missed your response until now.

1) The Publication Policy defines the research work of the collaboration as being organized into Projects that have one or more associated publications.  The latter are defined quite broadly, including software, journal papers, and associated DESC notes.  The idea is that Projects are proposed ('Announced') to the relevant worki

[2017-08-04 18:52] dkirkby opened #243 "Implement some useful presets (Planck15, etc)"
These should probably be singleton instances of ccl.Parameters.  Design questions:
- Could these be implemented in the python layer only? (easier to implement and maintain).
- How do we support the typical use case where to you want Planck15 with one or two parameters changed?  Currently a Parameters instance is immutable so this isn't easy.
- Which presets do we want?  For reference, astropy's eq

[2017-08-11 18:11] c-d-leonard opened #245 "documentation in pyccl.power"
The documentation for the python library gives incorrect units for the output linear and nonlinear matter power spectra.

[2017-08-11 21:47] tmcclintock opened #246 "Seg fault when using eisenstein_hu"
This piece of code seg faults for me:
[code]
It runs fine if I don't specify the transfer function.

This is on a machine I just installed CCL on, but I don't believe this is the issue.

[2017-08-11 21:51] fjaviersanchez commented on #246
@tmcclintock Is this only with eisenstein and hu or does it happen for any `ccl.linear_matter_power`?

[2017-08-11 21:55] tmcclintock commented on #246
@fjaviersanchez the only transfer function types that it doesn't fail on are 'boltzmann', 'boltzmann_class' (which is the default), and 'class' (which uses to the same thing as 'boltzmann_class').

[2017-08-11 22:20] fjaviersanchez commented on #246
@tmcclintock I was thinking that it might be some problem with the gsl version that it's calling at runtime or some difference between the compiler that you used to generate gsl and to install the libraries but, if it's running with class (which I think that also call gsl) I don't know what it can be... Maybe @damonge has some ideas since I think that he implemented that part. Sorry about that.

[2017-08-16 10:53] elisachisari commented on #245
What units does it give?

[2017-08-16 13:28] c-d-leonard commented on #245
Mpc^{-3}

[2017-08-30 18:11] elisachisari commented on #233
@heather999 Can this issue be closed? Do we have a working CCL module in NERSC?

[2017-09-01 17:44] elisachisari commented on #246
@tmcclintock @philbull

I'm seeing this too in master. If you call the cosmology with sigma8 rather than A_s, you don't get the segfault. This is indeed a bug because according to the note you should be able to pass either sigma8 or A_s in python and it should work.

![screen shot 2017-09-01 at 18 40 42](https://user-images.githubusercontent.com/9137015/29981336-3afdff3c-8f45-11e7-9aa4-8967cc55eb7

[2017-09-01 17:46] elisachisari commented on #246
This could be added as a unit test in the python suite and we could also add a benchmark check entirely in python.

[2017-09-01 17:48] tmcclintock commented on #246
Yes, I saw @damonge 's mention of this on the slack channel. Thanks for tracking it down concretely though, @elisachisari.

The options are to make it super-apparent to the user that they have to use sigma8 instead of A_s, or to make it so that if A_s is passed in then sigma8 is calculated for them before the power spectrum is called, but I don't think this is possible since, ya know, we can't get

[2017-09-01 17:57] elisachisari commented on #246
It might be possible to implement this option that you suggest. We had the inverse implemented in C, where if you passed sigma8, you find A_s before you call CLASS. I think @elikrause implemented this.
Is this problem also there in C when you call the PS with A_s and Eisenstein & Hu transfer function?

[2017-09-05 14:00] villarrealas commented on #7
@tmcclintock has volunteered to work magnification and shear profiles for the cluster weak lensing calculation into CCL. These routines will be necessary for cluster weak lensing.

I believe he intends to work on it from this starting point: https://github.com/tmcclintock/Cluster_WL

[2017-09-06 17:34] elisachisari opened #249 "Check not needed in ccl_power.c?"
In ccl_power.c, there is a check for the value of kmin as follows:
![screen shot 2017-09-06 at 18 33 16](https://user-images.githubusercontent.com/9137015/30125896-e8d83a56-9331-11e7-9d7b-09b3e98171b2.png)

Since kmin is set above this check to 2*exp(sp.ln_k[0]), I think this check is currently not doing anything.

[2017-09-08 00:06] DanielLenz opened #250 "growth_factor fails for a < 0.1"
Just noted that ccl.growth_factor() fails for small values of a (a < 0.1). I'm working on 33af641. Can anyone reproduce?

[code]

[2017-09-08 11:35] elisachisari opened #251 "CCL crashes for large neutrino mass"
If you use too large neutrino mass, CCL crashes with the following error
`$ ./tests/ccl_sample_power `
`OTHER ERROR; SEE gsl_errno.h for ERROR CODES 1-32.`

[2017-09-08 11:37] elisachisari opened #252 "Make CCL exit gracefully if parameters are outside Halofit valid ranges"
We should make sure that CCL exits gracefully if the parameters passed are outside those allowed by Halofit. What are those ranges? And does CLASS do this automatically? @damonge @elikrause

[2017-09-08 11:49] elisachisari commented on #250
thanks @DanielLenz. This is happening because you are asking for a prediction outside the maximum redshift that CCL is using by default (currently z=10). You can see the ini file where these ranges are defined:
https://github.com/LSSTDESC/CCL/blob/master/include/ccl_params.ini
Nevertheless, we should make CCL exit gracefully when this happens.

[2017-09-08 15:34] DanielLenz commented on #250
Thanks for the quick response, that completely answers the issue. Being address in #252

[2017-09-08 15:34] #250 closed

[2017-09-08 17:19] jablazek commented on #252
Can we do better than this (eventually)? the z=10 limit is set by halofit, right? Could we just default to the linear P(k) at higher z? (Or something similar)

[2017-09-08 17:23] elisachisari commented on #252
Yes, we plan on extending the redshift range. I think the z<10 limit is self-imposed because this is where we've checked the accuracy of the splines. But perhaps HaloFit has additional restrictions.

[2017-09-11 20:10] c-d-leonard commented on #251
I think I've addressed this in pull request #253

[2017-09-13 11:22] #245 closed

[2017-09-13 14:25] WeikangLin commented on #233
@heather999 I recently got an account at NERSE and try to use the central installed CCL at NERSCE or install CCL on my own. After doing
   `source /global/common/cori/contrib/lsst/ccl/setupPyCCL.sh`
I can compile and run, e.g., tests/ccl_sample_run.c with the central installed CCL.

I however fail to install CCL to an assigned path.
I first do
   `source /global/common/cori/contrib/lsst/ccl/setupC

[2017-09-13 14:47] #133 closed

[2017-09-13 17:15] fjaviersanchez commented on #233
So this is the reason why it complains: http://www.nersc.gov/users/computational-systems/edison/running-jobs/shared-and-dynamic-libraries/

But you can solve it just doing `export CFLAGS="-dynamic"` before `./configure --prefix=/YOUR/PATH/TO/INSTALL` and it should work :)

[2017-09-13 17:39] #251 closed

[2017-09-13 17:42] WeikangLin commented on #233
@fjaviersanchez Thank you very much for your response. After doing `export CFLAGS="-dynamic"`, I still have problem:
[code]
Any suggestions?

[2017-09-13 17:57] fjaviersanchez commented on #233
that looks like you are using the gnu programming environment and it is complaining. You can try to do `make clean` first and `module swap PrgEnv-gnu PrgEnv-intel` and try again to do the `export CFLAGS...` and `./configure`

[2017-09-14 02:58] WeikangLin commented on #233
With @fjaviersanchez 's help, I get CCL installed on NERSC at an assigned location using NERSC's gsl, fftw and swig. The following could be done before trying to install CCL:
1. `module load gsl/2.1`
2. `module load fftw`
3. `module load swig`
4. `export LDFLAGS+="-L$GSL_DIR/lib -L$FFTW_DIR"`
5. `export CPPFLAGS+="-I$GSL_DIR/include -I$FFTW_DIR/../include"`

[2017-09-14 03:08] rainwoodman commented on #233
The current version of glibc on nersc doesnt work with the 6.x gcc due to a
bug in glibc.

 swap GCC  to 5.x shall fix this too if you don't want use Intel compiler.

On Sep 13, 2017 10:57 AM, "fjaviersanchez" <notifications@github.com> wrote:

that looks like you are using the gnu programming environment and it is
complaining. You can try to do make clean first and module swap PrgEnv-gnu
PrgEnv-i

[2017-09-14 06:56] heather999 commented on #233
@elisachisari I'm sorry to say while there is an installation of CCL at NERSC, there is no module file.  It might be nice to have that set up, but it is also not necessarily required.  I will contact @damonge and try to push on.

[2017-09-14 07:29] heather999 commented on #233
@WeikangLin & @fjaviersanchez  I am still catching up.  So the central installation of 0.2 works? I just want to make sure that it is ok. The setup indicated above is very close to what we have in /global/common/cori/contrib/lsst/ccl/setupCCL.sh, however I used gnu, rather than intel. When using the gsl module, it is my understanding that we cannot use gcc directly, but rather call cc instead:

ht

[2017-09-14 14:00] WeikangLin commented on #233
Thanks @heather999. The central installation of 0.2 works for me. Upon logging in NERSC (cori), I do `source source /global/common/cori/contrib/lsst/ccl/setupPyCCL.sh`. I can then compile tests/ccl_sample_run.c by `gcc -Wall -Wpedantic -g -I$CCL_NERSC_DIR/$CCL_NERSC_VER/include $CPPFLAGS -std=gnu99 -fPIC tests/ccl_sample_run.c -o tests/ccl_sample_run -L$CCL_NERSC_DIR/$CCL_NERSC_VER/lib $LDFLAGS -l

[2017-09-27 10:36] damonge opened #256 "background a sampling"
Currently the sampling scheme for the background splines is very suboptimal for high-redshift quantities. We should figure out something that samples high redshift and low redshift quantities sufficiently well simultaneously

[2017-09-27 10:51] damonge commented on #256
The same is true for the a-sampling of the power spectrum (although here the problem may be less relevant)

[2017-09-27 18:00] fjaviersanchez opened #257 "Memory leak while performing MCMC"
While running the MCMC tutorial @WeikangLin and I found that after a while the kernel dies. I think that this might be due to be running out of memory at NERSC (where the resources are shared and maybe there's not that much memory available at "rush hour"). However, it is fishy that it runs out of memory with only 2 parameters and 10 walkers * 100 iterations. I tried it with fewer walkers and it s

[2017-09-29 11:03] damonge commented on #257
we've been discussing adding a script that runs valgrind on CCL, and this will pick up these leaks, so hopefully we can sort this out soon.

[2017-09-30 13:34] tmcclintock commented on #257
@fjaviersanchez can you DM me the code you ran on slack? The thing I really need to get at is the kernel, or likelihood function.

My plan is to design a script w/ valgrind that looks like the tutorial on the CCL main page but substituted in with the functions you called.

[2017-09-30 13:36] tmcclintock commented on #246
After doing a completely fresh install (with root) on a Mac laptop, I have reproduced this bug exactly. Since I am already going to be working on getting valgrind working for CCL, I'll assign myself this bug as well.

[2017-09-30 13:39] #8 closed

[2017-09-30 13:40] #10 closed

[2017-09-30 13:42] #18 closed

[2017-10-02 15:41] elisachisari opened #258 "Revisit accuracy of splines and extrapolation"
This refers to the spline for the total matter power spectrum. We need to check accuracy of the splines and extrapolation scheme for the linear and nonlinear matter power spectrum and document this in the note and paper. We are currently seeing some problems achieving the desired 1e-4 level for the CLASS power spectra.

[2017-10-02 15:52] tmcclintock commented on #258
Just so I understand, who desires the 1e-4 precision? Is that the precision that CLASS is gauranteed to? Is that some kind of DESC requirement?

[2017-10-02 15:57] villarrealas commented on #258
The 1e-4 precision was our target for numerical accuracy for CLASS as a whole. I don't think we're worried about CLASS being accurate to 1e-4, but we want to match CLASS to that level. Currently the splines have some issues with that.

[2017-10-06 13:49] #208 closed

[2017-10-06 13:49] #78 closed

[2017-10-11 14:17] c-d-leonard opened #261 "add support for accepting Omega_nu for massive neutrinos"
It would be useful, especially for validation of the cosmicemu power spectrum calculations, to be able to accept either m_nu (as currently) or Omega_nu for massive neutrinos.

[2017-10-20 05:38] anguta opened #262 "halo_bias invariably throws errors for every halo mass and cosmology I've tried running it on."
Every time I try to run halo_bias as in:

import pyccl as ccl
cosmo=ccl.Cosmology(Omega_c=0.26,Omega_b=0.048,h=0.6774,sigma8=.8159,n_s=0.9667)
ccl.halo_bias(cosmo,halo_mass=1e13,a=1)

I get the following errors:

---------------------------------------------------------------------------
RuntimeError                              Traceback (most recent call last)
<ipython-input-13-b67bac4af4af> in

[2017-10-20 06:49] damonge commented on #262
@anguta
Thanks for pointing this out. The problem here is that the halo bias is only defined for the Tinker 2010 mass function model, and the default one when you create the ccl.Cosmology object is Tinker 2008.
I see two fixes needed:
a) The error message is not helpful at all.
b) We should make Tinker 2010 the default configuration.

I've fixed b) in a PR, and will ping the appropriate developers

[2017-10-20 06:55] philbull commented on #262
Note to self: I should make the Python wrapper handle this error correctly.

[2017-10-20 06:56] damonge opened #264 "Python error message"
Currently it seems like the python module doesn't return the error message written by the C library (which is usually a lot more helpful than the default python error messages).

When this is fixed, issue #262 can also be closed

[2017-10-20 18:28] philbull commented on #264
Fixed in PR #263.

[2017-10-23 00:53] anguta opened #265 "Extend basic cosmology functions to higher redshifts?"
Many of the low order cosmology functions throw errors above a redshift of ~>9 (e.g. h_over_h0, luminosity_distance, linear_matter_power) .

This behavior makes sense when calculating quantities which have not been verified at high redshifts but it would be nice if 0th/1st order utility functions (like distances and linear matter power spectrum) could function at higher redshift.

[2017-10-23 08:52] elisachisari commented on #265
@anguta Thanks for the feedback! This is being developed in one of the current PRs, so we will soon have capability for this.

[2017-10-25 13:26] elisachisari commented on #262
@philbull @villarrealas why not make Tinker10 the default? In fact, I thought this was the case based on @vrastil's changes in the README

[2017-10-25 17:39] elisachisari commented on #246
@tmcclintock would you be up for adding an error message in CCL for this case?

[2017-10-25 17:42] elisachisari commented on #204
Let's check the difference between our current version and the newest one and see if we need to implement the new one.

[2017-10-25 17:51] elisachisari commented on #102
@fjaviersanchez would you like to close this issue and make a separate issue for pip installation?

[2017-10-25 18:30] elikrause commented on #257
@fjaviersanchez Would you be able to test whether the leak disappears if you use BBKS instead of CLASS?

[2017-10-25 21:57] tmcclintock commented on #246
Might be a bit early. I still am not convinced it's not some kind of screw up in the installation on my part. Otherwise yes I will.

[2017-10-25 22:43] fjaviersanchez commented on #102
Yes!

[2017-10-25 22:43] #102 closed

[2017-10-25 22:44] fjaviersanchez commented on #257
Yes, when we ran `bbks` it worked with no problem!

[2017-10-27 01:27] fjaviersanchez opened #269 "make pip install work"
I have been working on trying to make CCL installable using `pip`. The problem is that it installs correctly but one of the CLASS files is not linked properly so it causes a segfault when using the methods that internally call CLASS. Any help is welcome!

[2017-10-27 16:38] tmcclintock commented on #264
This appeared in PR #194 as well.

[2017-10-27 16:41] tmcclintock commented on #246
I did a fresh install again and the issue is gone.

Magic.

I'm going to close this.

[2017-10-27 16:41] #246 closed

[2017-10-29 05:17] tmcclintock commented on #265
@elisachisari which PR?

[2017-10-29 12:28] elisachisari commented on #265
That would be the CMB lensing PR: https://github.com/LSSTDESC/CCL/pull/255

[2017-10-31 17:44] damonge commented on #262
This has now been fixed

[2017-10-31 17:44] #262 closed

[2017-10-31 17:45] damonge commented on #264
This has been fixed

[2017-10-31 17:45] #264 closed

[2017-10-31 17:48] tmcclintock commented on #89
Contributing is easier now since we have the ```CONTRIBUTE.MD``` file. I'm going to close this.

[2017-10-31 17:48] #89 closed

[2017-10-31 23:45] philbull opened #270 "Distutils screws up rpath on some systems"
The `setup.py` script passes a `runtime_library_dirs` kwarg to the distutils `setup()` function. This is supposed to setup the CCL library so that it knows where other libraries that it depends on have been installed, without those libraries necessarily being in the user's library path (a feature called 'rpath').

I just tried to install CCL on a system where distutils is doing the wrong thing wit

[2017-11-01 14:36] fjaviersanchez commented on #270
I am adding setuptools as part of the solution of #269. Maybe it helps in this case too?

[2017-11-01 14:41] fjaviersanchez commented on #270
@philbull did you find the error while installing or at runtime?

[2017-11-01 15:37] elisachisari commented on #234
@vrastil have all this been addressed and can this be closed?

[2017-11-01 15:45] vrastil commented on #234
Yes, installation issues are in README and I once again checked the python example

[2017-11-01 15:49] #234 closed

[2017-11-01 16:11] elisachisari commented on #168
@fjaviersanchez Has this been addressed already and can it be closed?

[2017-11-01 16:19] fjaviersanchez commented on #168
I think that this is solved automatically with the new `setup.py` and I never found this problem with it. However, it would be good if more people tried to reproduce this problem before closing the issue.

[2017-11-01 23:06] j-dr opened #271 "CCL linking fails with FFTW v3.3.6-pl2"
Installing CCL using

python setup.py install --user

with FFTW 3.3.6-pl2 (the second to latest version of fftw) results in the following error:

/usr/bin/ld: /u/ki/jderose/.local/src/fftw-3.3.6-pl2/lib/libfftw3.a(apiplan.o): relocation R_X86_64_32S against `.rodata' can not be used when making a shared object; recompile with -fPIC
/u/ki/jderose/.local/src/fftw-3.3.6-pl2/lib/libfftw3.a: could not

[2017-11-01 23:07] tmcclintock commented on #271
Did you try to compile the C code first?

[2017-11-01 23:08] j-dr commented on #271
Nope. I would guess that wouldn't help since it seems to be a linking issue in the compilation of the C code though.

[2017-11-01 23:09] rmandelb commented on #271
A few people had this issue with FFTW as a GalSim dependency (exact same error message).  See discussion and suggested solution here: https://github.com/GalSim-developers/GalSim/wiki/Installation-FAQ#why-does-scons-report-some-error-about-a-bad-value-and-recompile-with--fpic

[2017-11-01 23:15] j-dr commented on #271
I recompiled FFTW with the --with-pic flag and still had the same issue. Maybe there's something else that I needed to do to make it a shared library though.

[2017-11-01 23:17] rmandelb commented on #271
Well, my understanding was that `-fPIC` does *not* make a shared library; rather it makes a static one that has some set of objects included that otherwise would not be.  And if it isn't working, then you need to do something else in order to get a shared library. I think `--enable-shared` should do the trick; have you tried that?

[2017-11-01 23:19] rmandelb commented on #271
Actually, stackoverflow [says](https://stackoverflow.com/questions/45321342/how-to-build-fftw-in-ubuntu) you should do both, i.e.
[code]

[2017-11-02 01:17] j-dr commented on #271
Yep, that appears to have worked. Thanks!

[2017-11-02 01:18] #271 closed

[2017-11-02 04:14] tmcclintock opened #272 "Segfault from calling mass function depending cosmology - CLASS errors not propagating correctly"
In the following three examples to calling ```ccl.massfunc()```, depending on how the ```ccl.Cosmology()``` object was created, there is a seg fault.

[code]

The top two calls are successful. The bottom two calls segfault (you can get to the last one by commenting out the third). I *think* it's because we use ```A_s``` in the first two and ```sigma_8``` in the second two. How can we fix this?

@j

[2017-11-02 05:06] zdu863 commented on #271
I had exactly the same issue, but this isn't working for me. I'm still getting the same error message.

[2017-11-02 05:10] zdu863 commented on #271
$ make CFLAGS=-fPIC
make  all-recursive
make[1]: Entering directory '/home/zdu/Documents/CCL-master'
Making all in include
make[2]: Entering directory '/home/zdu/Documents/CCL-master/include'
make[2]: Nothing to be done for 'all'.
make[2]: Leaving directory '/home/zdu/Documents/CCL-master/include'
Making all in class
make[2]: Entering directory '/home/zdu/Documents/CCL-master/class'
make[2]: Nothi

[2017-11-02 07:07] damonge commented on #272
Actually the problem here is h: this leads to a value of Omega_b*h^2 that is too large for CLASS to handle. This is still a bug, since we should handle CLASS's crashing more gracefully than a segfault.

[2017-11-02 07:37] damonge commented on #272
OK, this is a symptom of a much deeper problem, which is catching CLASS errors and propagating them all the way to python. This problem would have popped up in any other scenario, not just the mass function. I'm gonna tag @philbull here and will get back to this later on.

[2017-11-02 12:09] rmandelb commented on #271
@zdu863 - Sorry if I have misunderstood your comment, but it appears you
are trying to recompile CCL with that flag, which is not what is needed to
fix the problem.  Rather, you need to rebuild the FFTW library itself
(using the recipe I copied from stackoverflow) and then compile CCL
normally (no extra flag needed).

[2017-11-02 12:40] tmcclintock commented on #272
Gotcha. I'm going to edit the title of the issue then.

[2017-11-02 12:50] elisachisari commented on #272
This is actually already in issue #252, so it will be addressed there.

[2017-11-02 12:50] #272 closed

[2017-11-02 13:32] tmcclintock opened #273 "Add documentation about how to cross reference PRs and issues"
I am creating this issue so that I can link it with a PR, demonstrating the updates I am about to push to the ```CONTRIBUTIONS.md``` file.

[2017-11-02 13:40] tmcclintock commented on #273
This is being worked on in this branch: https://github.com/LSSTDESC/CCL/tree/iss273

[2017-11-02 13:43] tmcclintock commented on #273
This is addressed in PR #274.

[2017-11-02 14:37] damonge commented on #272
@elisachisari is that true? #252 has to do with Halofit (at least the title seems to imply that), rather than the parameters being passed to CLASS - in fact this issue has nothing to do with Halofit

[2017-11-02 14:38] damonge commented on #252
Unsure if this issue was initially triggered to deal with the z_max=9 problem or to deal with cosmological parameters being passed to CLASS outside its allowed range.

In any case, the z_max issue is fixed in PR #255 , so that should be merged soon.

[2017-11-02 14:41] elisachisari commented on #272
I think we had intended for #252 to be more general than Halofit. I can clarify that there.

[2017-11-02 14:43] elisachisari commented on #252
This referred to cosmological parameters and redshift. There was also issue #272, which suggested generalising this to making sure we are within the allowed range of parameters for CLASS (not just Halofit).

[2017-11-06 18:54] tmcclintock opened #275 "Revise nomenclature for correlation functions"
The ```correlation()``` function in [correlation.py](https://github.com/LSSTDESC/CCL/blob/master/pyccl/correlation.py) is actually only for projected correlation functions. This is confusing since it is not distinguishable from the (not yet implemented) 3d correlation function.

[2017-11-08 18:29] c-d-leonard opened #277 "Default values for baryonic parameters"
We need to make sure of what happens if we pass a parameter structure without baryonic parameters but with the baryons flag set to Yes.

[2017-11-09 16:38] elisachisari commented on #277
I tried this first in C using `ccl_sample_baryons`. If the baryons flag is set to Yes but you don't pass any values for the baryonic parameters, default values are assumed. This choice is implemented within `ccl_core.c`. No-baryons cosmology parameter creation routines basically call the general `ccl_params_create` routine with baryonic parameters set to -1. This triggers the use of fiducial value

[2017-11-09 16:38] #277 closed

[2017-11-09 23:29] cosmicshear opened #279 "Add support for accepting more keyword arguments (like Omega_m) in pyccl.Parameters"
This is how we set the cosmological parameters

`p = pyccl.Parameters(Omega_c=0.27, Omega_b=0.045, h=0.67, n_s=0.96, sigma8=0.83) `

but it doesn’t allow the user to use Omega_m as an input and says:

`TypeError: __init__() got an unexpected keyword argument 'Omega_m' `

It exists in ccl_parameters Struct, though. One can use

`p.parameters.Omega_m`

to get the value for Omega_m, but it would be n

[2017-11-10 00:50] elikrause commented on #261
ccl_neutrinos.c:Omeganuh2_to_Mnu() implements this through root finding of ccl_neutrinos.c:Omeganuh2(); it is available in the cosmicemu branch (commit 4cf0981 )
Currently this is only implemented in the C layer.

[2017-11-10 10:59] elisachisari opened #280 "Add conventional IA model bias with the usual normalization"
This is a reminder for myself and @jablazek that when possible, we should add a b_I(z) function in CCL for the fiducial NLA model with the usual normalisation convention. See discussion in https://github.com/LSSTDESC/WLPipe/issues/26

[2017-11-10 15:36] #261 closed

[2017-11-12 06:40] elikrause commented on #257
Fixed in PR #268 , which was merged into master.

[2017-11-12 06:40] #257 closed

[2017-11-13 15:19] elisachisari commented on #228
This is a list of what remains to be done for CCL paper submission.

From the point of view of code development
- [ ] Merge the cosmic emulator
- [ ] Merge angpow @jeremyneveu
- [ ] Get a CMB lensing benchmark then merge @sukhdeep1989 @damonge
- [ ] Test accuracy of splines, merge after checks
- [ ] Develop multiple neutrino mass branch, check & merge @c-d-leonard
- [ ] Decide on CLASS dependency

[2017-11-15 00:38] weatherhead99 opened #282 "fails to build on some systems with SMP make flags"
I just tried to build this on opensuse with quite a few parallel jobs. The project fails at linking stage of the tests, unable to find -lccl, I think because a dependency is missing in the buildsystem. I am not very familiar with autotools but will try to find it. The build succeeds in serial mode.

Not a major issue because it's a fast build anyway

[2017-11-15 07:59] damonge commented on #282
Hey Dan! Do you mean doing thing like "make -j8"? In that case, one final "make" after that will solve the issue. Do you think this is a good enough solution?

[2017-11-20 09:28] jeremyneveu opened #286 "Fail to install PyCCL: GSL not found"
Dear CCLers,
I failed again in installing PyCCL on my Mac OS (Sierra). GSL is installed via Macport (version 2.4) in `/opt/local/include/` and `/opt/local/lib/`.  The CCL installation works well. I tried many combinations of the command `python setup.py build_ext  --include-dirs=/opt/local/include/ --library-dirs=/opt/local/lib/ --rpath=/opt/local/lib/`, but no way, when typing `sudo python setup.

[2017-11-20 09:47] damonge commented on #286
@jeremyneveu : does this only fail for pyccl? Or does it also fail if you install only the C library? Do you know if it fails against your own installation of GSL 2+?

[2017-11-20 09:49] jeremyneveu commented on #286
@damonge  : Only for pyccl yes. And this is on my laptop so yes it is my own Macport installation (if I have understood correctly your last question)

[2017-11-20 09:51] damonge commented on #286
Then we have to ping @fjaviersanchez , since this has to do with the new version of setup.py

[2017-11-20 12:28] fjaviersanchez commented on #286
@jeremyneveu could you please try `export LDFLAGS=-L$GSL_LIB_DIR` and export `CFLAGS=-L$GSL_INC_DIR`?

[2017-11-20 13:43] jeremyneveu commented on #286
@fjaviersanchez Hi Javier. On my system by default $GSL_LIB_DIR and $GSL_INC_DIR are not defined. To test your solution, I defined `export GSL_INC_DIR=/opt/local/include/` and `export GSL_LIB_DIR=/opt/local/lib/`and then your two flags. But then the installation failed with the same error :(

[2017-11-20 20:49] fjaviersanchez commented on #286
so `setup.py` as it is now, tries to install the C library and for some reason it is finding the wrong GSL version (or none). When you try to install the C version, what kind of flags do you have to define? Could you try to define the same ones and rerun `setup.py`? If it still doesn't work. I can try to make an option in `setup.py` to install just the python version and skip that part.

[2017-11-21 08:35] jeremyneveu commented on #286
I do not define any particular flag. The C configure finds itself the /opt/local/include/ directory to find the GSL 2.4 that I installed, then the installation contains flags such as
`/bin/sh ../libtool  --tag=CXX   --mode=compile g++ -DHAVE_CONFIG_H -I. -I..  -Wall -Wpointer-arith -O3 -fPIC -std=c++11 -fopenmp  -fno-common  -ffast-math -m64 -c -I./inc/ -I/opt/local/include/gsl  -g -O2 -MT src/lib

[2017-11-21 11:09] fjaviersanchez commented on #286
So after a chat with @jeremyneveu we found out that for some reason sudo was not recognizing the export flags. I asked @damonge and he came up with a solution that is trying to put the `export LDFLAGS="-L/PATH/TO/GSL/lib"` and `export CFLAGS="-I/PATH/TO/GSL/include"` in the `.bashrc`. If this doesn't work I'll try to figure out another workaround to use your current configuration. (You can also tr

[2017-11-22 17:58] philbull opened #289 "Changing baryonic effect parameters requires unnecessary recomputation of power spectrum"
The CCL baryonic effect implementation is a purely analytic correction to the nonlinear power spectrum, so it can be trivially recomputed for any chosen set of baryonic parameters (given a fixed cosmology).

The current implementation puts the baryonic parameters on the same level as cosmological parameters though, which means that to change them you need to create a new `ccl_cosmology` object. Th

[2017-11-22 18:50] philbull opened #290 "Code used to generate benchmarks should be collected and documented"
At the moment, we are validating CCL against benchmark datafiles generated by a variety of different codes -- mostly ones that were used during the code comparison project. We only keep the datafiles in version control, not the code, meaning that we can't systematically regenerate the benchmarks themselves, e.g. if we wanted to try different sets of cosmological parameters. The codes (versions, se

[2017-11-22 18:52] philbull commented on #290
If we have the benchmark code available in one place, we can also automate running it for different sets of cosmological parameters. I can then add the data into the VARRIC visualisation tool.

[2017-11-22 19:03] tmcclintock opened #291 "Incorporate cluster_toolkit as a submodule/subproject"
The [cluster_toolkit](https://github.com/tmcclintock/cluster_toolkit) has modeling code for galaxy clusters density profiles and associated quantities. Instead of re-doing all the difficult work of incorporating it directly into CCL, it can be added a submodule/subproject similar to how [halotools](https://github.com/astropy/halotools) is in astropy.

This would be a long-ish term project.

[2017-11-23 06:53] elikrause opened #292 "Make CLASS optional?"
One short-term fix to the CLASS distribution/installation issue could be to make calls to CLASS optional, e.g. through a preprocessor directive: This would allow casual CCL users to check out the functionality of CCL (except for getting power spectra from CLASS), and while keeping the full functionality for users who already have CLASS installed/are willing to install it for CCL.

In practice, it

[2017-12-03 18:32] elisachisari opened #293 "HMF and halo bias python notebook needed"
We currently don't have any python notebooks showing examples of how to obtain the halo mass function and halo bias.

[2017-12-04 16:19] #293 closed

[2017-12-08 14:26] tmcclintock commented on #226
In [this thread](https://github.com/lesgourg/class_public/issues/189) on the CLASS issues page I posted the same plot I did in the slack channel showing the difference between the linear matter power spectra calculated with CAMB vs CLASS for a very basic wCDM cosmology. The difference isn't negligible for observables, but it's just barely on the edge of what we will care about in LSST Y1.

Thomas

[2017-12-08 15:37] elisachisari opened #298 "Extend dNdz_tomog to take any input dNdz"
I think that dNdz_tomog currently only works for the pre-specified dNdz functions we have for LSST. It would be great to extend it to any user-defined dN/dz.

[2017-12-08 15:53] elisachisari opened #299 "Consistency between tracer and Cls cosmology"
Currently, it seems possible to pass a given cosmology to build a tracer, and then use that tracer with a different cosmology to obtain Cls. Is there a way to prevent this inconsistency or at least issue a warning to the user?

[2017-12-12 21:24] zdu863 opened #300 "ccl_tests*.c files fail to run"
Trying to run ccl_test_params.c under "tests" directory (or any other ccl_test*.c file.)

Following the procedure given in readme.md, I added "tests/ccl_test_params.c" in Makefile after the line starting with "TEST =":

TESTS = tests/check_ccl$(EXEEXT) tests/check_swig_timestamp.sh tests/ccl_test_params.c

Running "make test" in CCL main directory results in this error below:

~/Documents/CCL_new/

[2017-12-12 21:37] elisachisari commented on #300
Hi @zdu863. ccl_test_params.c runs automatically as one of the tests when you do:
```~/Documents/CCL_new/CCL$ make check```
You shouldn't need to add it manually to the Makefile.

[2017-12-12 23:19] zdu863 commented on #300
@elisachisari It works now, I was looking at the "better_c_tests" branch which tells me to use "make test" command.

So do I need to make that change to "Makefile" when I'm trying to write a new test?

[2017-12-13 00:31] elisachisari commented on #300
Ok, thanks for letting us know. I don't recall that branch but I'll take a look to see at what stage it is.

If yo want to add new tests, you should follow the instructions in CONTRIBUTE.md within the main directory of CCL:
https://github.com/LSSTDESC/CCL/blob/master/CONTRIBUTE.md
You'll find there what needs to be modified in Makefile.am and how to re-configure.

[2017-12-13 00:33] elisachisari commented on #300
BTW, that branch you mention was an earlier attempt by @philbull to improve on some of the tests, but we have plans to re-develop it, as it is quite behind our master branch at this point.

[2017-12-13 00:33] #300 closed

[2017-12-13 16:22] yymao commented on #279
Piggybacking on this issue --- Motivated by https://github.com/LSSTDESC/gcr-catalogs/issues/44, there were some discussion during the ANL Sprint Week about a cross-package implementation of a Python class for DESC to record Cosmology Parameter.  The idea is to have very light-weight class that only *store* these parameters using standardized labels for these parameters, and also allow storage of y

[2017-12-13 18:23] joezuntz opened #302 "Integration error depending on IA amplitude"
I'm seeing an integration error when calculating C_ell for the DES SV n(z) that depends on the value of the IA amplitude, which seems a bit odd.

I wanted to double check if I'm doing something wrong with ranges or input values or something else like that.

I've attached an example which uses the current CCL master branch.  I had to call it issue.py.txt so that github would let me attach it.  It l

[2017-12-13 18:24] joezuntz commented on #302
Also i was giving it a very wide range in ell as I thought that this would be needed for the conversion to xi(theta).  If that's not the case then let me know.

[2017-12-13 23:46] elisachisari commented on #302
@joezuntz The "intrinsic alignment bias" as defined in CCL is not normalized following usual conventions in IA literature. See issue #280. I thought I'd point this out. I think you are passing a huge IA amplitude if you set IAbias = 3 and this is somehow causing integration problems (which we should investigate).

[2017-12-13 23:48] joezuntz commented on #302
@elisachisari thanks!  Can you advise how I should change the code attached above to make it sensibly normalized?  I included the C_1 factor already.

[2017-12-14 00:05] jablazek commented on #302
@elisachisari : assuming the IAbias is linear in A, then it is strange if A=3 causes problems when A=1 does not. But either way, yes we should address #280.

[2017-12-14 00:10] jablazek commented on #302
From issue.py above:

This looks "standard." @elisachisari : is something happening downstream that rescales this bias, or is it bias_ia or bias_ia^2 that multiplies P_delta in the NLA model?

[2017-12-14 06:57] damonge commented on #302
I have to look into this for a different project, so let me get back to you today

[2017-12-14 10:07] damonge commented on #302
@joezuntz : alright, the way this is implemented in CCL is as follows (I'm quoting from https://arxiv.org/pdf/1506.02671.pdf, eqs. 4.14, 5.2):

1. In the large-ell limit, the IA kernel is basically proportional to W_IA =  p_red*b_I, where p_red(z) is the redshift distribution of the galaxy population that aligns, and b_I(z) is some alignment bias function.
2. Writing p_red(z) = p_tot(z)*f_red(z),

[2017-12-14 10:08] damonge commented on #280
For clarification: the way this is implemented in CCL is as follows (I'm quoting from https://arxiv.org/pdf/1506.02671.pdf, eqs. 4.14, 5.2):

1. In the large-ell limit, the IA kernel is basically proportional to W_IA = p_red*b_I, where p_red(z) is the redshift distribution of the galaxy population that aligns, and b_I(z) is some alignment bias function.
2. Writing p_red(z) = p_tot(z)*f_red(z), whe

[2017-12-14 12:14] elisachisari commented on #302
Ok, so you are accounting for the amplitude normalization then. There has to be some numerical convergence problem with the Cl's for large A. I would try varying CCL spline parameters to see if this has an impact.
@damonge @jablazek: I would be in favor of incorporating this IA normalization directly in CCL, as it is standard in cosmic shear papers.

[2017-12-14 15:07] elisachisari commented on #302
@jablazek IA is linear in A but the cosmic shear prediction @joezuntz is doing is not. If IA and shear terms are summed before integrating in k, then it could be that this triggers numerical integration problems. @damonge would know the exact implementation.

[2017-12-14 15:11] jablazek commented on #302
@elisachisari : yes, that sounds plausible. If the k->ell integral is all done in one step by first summing the relevant P(k) with their amplitudes and kernels, then this would make sense.

 A=3 is indeed large for lensing sources, but not large for LRGs (which someone using CCL may want to consider).

[2017-12-14 15:13] elisachisari commented on #302
We might consider changing the implementation: for example, integrating the C_ell contribution of IA and lensing (auto and cross) separately, and then adding C_ells. I think this could be more stable.

[2017-12-14 15:14] joezuntz commented on #302
That way of doing it is also useful if you want to be able to see the different contributions from the different components.  It is generally slower though as you have to do all the integrals again.

[2017-12-23 15:29] elisachisari commented on #292
PR #295, which has an independent installation script for CLASS, has now been merged. It's slightly different than the approach suggested here, but it solves our license (PR #231) issues. Should we close this issue then?

[2017-12-23 15:31] elisachisari commented on #286
@fjaviersanchez has this been documented in the README? If so, can we close this issue?

[2017-12-28 19:52] fjaviersanchez commented on #286
@jeremyneveu were you able to install it with anaconda instead? @elisachisari I can add something in the README but I think this was a specific problem with Jeremy's setup.

[2017-12-31 14:28] elisachisari commented on #265
PR #255 has been merged so I'm closing this issue.

[2017-12-31 14:28] #265 closed

[2018-01-02 16:40] jeremyneveu commented on #286
@fjaviersanchez Hi. yes I was able to install it with anaconda and even my own python installation. The thing is that the default behaviour of my `sudo` command forget the environment variables. To get back them I had to use `sudo -E `....

[2018-01-08 12:17] elisachisari commented on #286
Ok, thanks. I'm closing this issue then.

[2018-01-08 12:17] #286 closed

[2018-01-08 13:12] elisachisari commented on #229
Recently updated to include:
- new CLASS installation
- license details
- code updates following implementation of baryons

[2018-01-08 13:12] #229 closed

[2018-01-08 13:16] elisachisari commented on #290
As a compromise to address this issue before submitting the paper, I suggest listing who produced what [benchmarks in the wiki](https://github.com/LSSTDESC/CCL/wiki/Benchmarks) (if possible with links to the original code).

[2018-01-09 13:04] cosmicshear opened #307 "The central installation of CCL on NERSC doesn't work"
After running

I try to compile ./tests/ccl_sample_run.c by doing
[code]

but it has some problems with gsl.

[2018-01-09 14:14] elisachisari commented on #307
@cosmicshear. Have you followed these instructions?
https://github.com/LSSTDESC/CCL/wiki/Using-and-Installing-CCL-on-NERSC

[2018-01-09 14:29] cosmicshear commented on #307
@elisachisari yes, I did.

[2018-01-09 14:32] elisachisari commented on #307
@heather999 @WeikangLin: have you encountered this problem before?

[2018-01-09 15:35] WeikangLin commented on #307
@cosmicshear @elisachisari @heather999 I think Cori and Edison at NERSC are under maintenance today (Jan 9th, 06:00-22:00), which is why I had problems of logging in. I will look into this later.

[2018-01-09 17:38] tmcclintock commented on #307
NERSC is down until 10 PM PST [link](http://www.nersc.gov/live-status/motd/). @cosmicshear try this again tomorrow and close this if there is no more issue at that time. Thanks!

[2018-01-10 07:52] cosmicshear commented on #307
I got different warnings and errors this time.

[code]

[2018-01-10 15:43] WeikangLin commented on #307
@cosmicshear It it probably a problem of version. The central installed CCL at NERSC is of version 0.2. If you are using the latest CCL from the repository, you will get the above warning because the parameter and model initiations have been changed. You may copy CCL_0.2 from
`/global/common/cori/contrib/lsst/ccl/downloads/0.2.tar.gz` ,
and compile tests/ccl_sample_run.c. Alternatively, you can in

[2018-01-10 15:47] elisachisari commented on #307
thanks @WeikangLin. What if we update the CCL version in NERSC to the paper version once available? That will be our next CCL release.

[2018-01-10 17:19] WeikangLin commented on #307
@elisachisari That sounds good. But most likely similar warnings will still show up sooner or later if an internal developer compiles and runs the latest ccl_sample_run.c from the repository. Maybe one way out is to always put a package of the installed CCL along with the library at NERSC, which is the case for the current version.

@tmcclintock @elisachisari @heather999 When installing the latest

[2018-01-10 17:25] fjaviersanchez commented on #307
@WeikangLin It seems that it is not finding CLASS. Maybe it is not installed or it's not finding it. To install it you can execute the python script `class_install.py` in the CCL root directory.

[2018-01-10 17:52] WeikangLin commented on #307
Thanks @fjaviersanchez. After I install class, configure goes through. But new warning shows up when I do make, which doesn't show up with v0.2:
[code]

[2018-01-10 19:00] elisachisari opened #308 "Establish procedure for changes to API"
We need to establish a procedure for when we make changes to the API. This should be documented in the wiki and/or in CONTRIBUTE.md

[2018-01-10 20:24] fjaviersanchez commented on #307
It looks like you have to add a flag before compiling CLASS. You can maybe export CFLAGS="-fPIC -dynamic" before running the `class_install.py` script? Hopefully that works.

[2018-01-10 20:47] damonge commented on #308
@elisachisari @philbull : it'd be good to know which steps in particular you'd like to add that are not already there.

[2018-01-10 21:53] WeikangLin commented on #307
@fjaviersanchez It still has the above warning, and some new problems show up:
[code]

[2018-01-10 22:22] fjaviersanchez commented on #307
@WeikangLin I'll try to reproduce the problem and get back to you if I manage to solve it.

[2018-01-10 22:26] WeikangLin commented on #307
@fjaviersanchez I redid everything, and it seems that adding CFLAGS="-fPIC -dynamic" before I install class and before I load the necessary modules can have CCL installed and ccl_sample_run.c compiled.
The only problem I have is the warnings:
[code]

[2018-01-10 22:27] fjaviersanchez commented on #307
ohhh I see it's because the option is `--dynamic` sorry about that!

[2018-01-10 22:45] WeikangLin commented on #307
@fjaviersanchez If I uses the option --dynamics, errors show up at configure:
`configure: error: C compiler cannot create executables`. I will continue to look into it later.

[2018-01-10 23:42] fjaviersanchez commented on #307
@WeikangLin apologies for the confusing directions. I think you can just forget about the `--dynamic` flag for now. I think it is not necessary, I was mistakingly associating this error to something else. Sorry again. (Just use the `export CFLAGS=-fPIC` and that should be enough hopefully)

[2018-01-11 04:12] WeikangLin commented on #307
@fjaviersanchez Yes, it works well now. Thank you very much for your help. @cosmicshear I have updated the instructions for installation on the wiki page. If you want to install your own latest version of CCL on NERSC, those steps should work (hopefully).

[2018-01-11 11:12] elisachisari commented on #308
We were discussing what kind of changes require a new release and concluded that anything that changes the API, including something like changes to function names, should come with a new tag and release notes. So we should make contributors aware of this.

[2018-01-15 17:58] elisachisari opened #309 "Incorporate DESC standard acknowledgements in paper"
Incorporate standard acknowledgements:
https://github.com/LSSTDESC/desc-tex/tree/master/ack

[2018-01-31 11:40] #273 closed

[2018-01-31 11:42] elisachisari commented on #204
@damonge @c-d-leonard Following the new CLASS installation, do we need to do anything else about this issue?

[2018-02-01 22:26] c-d-leonard opened #311 "Pass T_cmb to CLASS"
We hardcode T_cmb in a couple of places in the C code (in ccl_core.c and ccl_neutrinos.c), but we don't currently pass this value to CLASS in ccl_power.c . This is potentially an issue because if we don't pass a value CLASS will assume its default value, which is very close but not quite the same as our hard-coded value. This means that the distances calculated by CCL use a slightly different Omeg

[2018-02-02 05:40] elikrause commented on #311
Does this require more than simply passing cosmo->params.T_CMB to CLASS (as implemented in #4115c2e), e.g. a switch whether to to pass T_CMB or Omega_{radiation}?

[2018-02-02 14:27] c-d-leonard commented on #311
Nope that's it I think! That change seems to cover it.

[2018-02-02 14:28] c-d-leonard commented on #204
I think this is resolved by the new class installation procedure.

[2018-02-05 20:24] zdu863 opened #314 "Error message when running 'autoreconf'"
I was following the steps in `CONTRIBUTE.md` to create a new ctest file, running:
`~/Documents/CCL_3d/CCL$ autoreconf -i`
which gave an error message:
[code]
However, this command still ended up modifying `Makefile.in`, and everything runs OK after I reinstalled CCL. I just thought I would point this out, maybe those lines should be added according to the error message?

[2018-02-07 00:54] elisachisari opened #315 "ccl_sample_run bug in CMB lensing computations"
We need to revisit ccl_sample_run and fix a bug. Currently CMB Cl's are all the same and using the WL tracer. This is a bug in the example code, not in the tracer.

[2018-02-07 01:01] elisachisari commented on #315
We also need to update the README to include the CMB correlations.

[2018-02-08 17:46] elisachisari opened #316 "Is CCL thread safe?"
We need to check this, particularly for integration to TJPCosmo

[2018-02-08 17:48] tmcclintock commented on #316
As per the [GSL docs](https://www.gnu.org/software/gsl/manual/html_node/Thread_002dsafety.html) anywhere that we use GSL is thread safe unless we do any really wacky things.

[2018-02-08 17:50] damonge commented on #316
Actually, one thing that isn't thread-safe automatically is splines. Or rather, splines are thread-safe, but interpolation accelerators aren't. See #137

[2018-02-09 06:25] tmcclintock opened #318 "sigma8 is defined wrong"
In `pyccl.power.sigma8()`, the value of `sigma8` is computed for 8 Mpc, however this quantity is defined for 8 Mpc/h. This should be fixed.

[2018-02-09 06:31] elisachisari commented on #318
That's strange: the ccl_sigma8 function is computing it for 8 Mpc/h in the C file:
https://github.com/LSSTDESC/CCL/blob/master/src/ccl_power.c
Is it maybe the case that the python docs are wrong but the function is ok?

[2018-02-09 06:33] elisachisari commented on #318
Looking at:
https://github.com/LSSTDESC/CCL/blob/master/pyccl/power.py
it indeed seems to be a problem of inconsistency of the docs rather than the code.

[2018-02-09 07:02] tmcclintock commented on #318
(Apologies if I wrote the docs for that way back when X-D).

[2018-02-09 18:06] ellison-j commented on #314
Zilong: I talked to Phil Bull and he said this is fine. This will be checked and taken care of if necessary when they merge into master.

[2018-02-09 19:18] gvalogia opened #322 "Combine --user with --prefix error with setup.py install - Possible workaround"
During the python installation process on a Mac OS X and while running
`python setup.py install --user`
I got the error
`error: can't combine user with prefix, exec_prefix/home, or install_(plat)base`
A possible (one-time) workaround is running instead
`python setup.py install --user --prefix=`
based on the suggestions on this link
https://stackoverflow.com/questions/4495120/combine-user-with-pref

[2018-02-09 19:54] villarrealas opened #324 "pyccl calls for sigmaR (and possibly others) fail on integer passes"
The function sigmaR takes parameters cosmo + a sphere size R. However, if it is passed an integer for R (something like 8), it simply crashes because it cannot take an integer value. Since it is feasible people will want to pass it something like linspace with integers, this might be a concern?

I suspect this may be elsewhere in pyccl wrapper work.

[2018-02-09 21:14] tmcclintock commented on #324
@philbull wrote the vectorization wrappers. I think the cleanest thing to do would be to do type casting there. What do you think, Phil?

[2018-02-09 21:41] alexander-mead opened #325 "Getting linear power spectra for different components"
It would be nice to be able to get linear power spectra for the different components in the universe. For example, baryons, CDM, neutrinos, ..., rather than just the overall 'matter'.

[2018-02-09 22:50] gvalogia opened #326 "Error while running python tests"
After completing the installation and when running the python tests with `run_tests.py`
I get the following error

`ERROR: Test top-level functions in pyccl.cls module.
----------------------------------------------------------------------
Traceback (most recent call last):
  File "/Users/George/Library/Python/2.7/lib/python/site-packages/nose/case.py", line 197, in runTest
    self.test(*self.arg

[2018-02-09 23:42] elisachisari opened #327 "power spectrum segfault with cosmic emu"
It's unclear where this is coming from, but CCL is crashing when sigmaR is called with the emulator. We need to understand where this is coming from by tracking it in C. Found by @alexander-mead.

[2018-02-10 03:13] alexander-mead commented on #327
I was just looking at this again. I seem to get kernel crashes in python whenever I set the 'transfer_function' to anything other than 'boltzmann', 'boltzmann_class' or 'class' and then ask for sigma(R). However, it seems to work okay if I set 'transfer_function='class' and matter_power_spectrum='emulator', so I think the problem is only when the 'transfer_function' is set to something funny.

Com

[2018-02-12 16:41] elisachisari commented on #307
@WeikangLin can we close this?

[2018-02-12 16:45] WeikangLin commented on #307
@elisachisari Yes.

[2018-02-12 16:46] #307 closed

[2018-02-12 17:02] philbull commented on #314
Thanks for filing this issue! Yes, there are just warnings, so no need to worry about them. We may try to fix them at a later date, but they seem to be harmless and so aren't a priority for now.

[2018-02-12 17:02] #314 closed

[2018-02-13 13:40] elisachisari commented on #315
Fixed in #320 and #329.

[2018-02-13 13:40] #315 closed

[2018-02-13 18:15] philbull commented on #327
@alexander-mead Does the behaviour change depending on whether you specify `A_s` or `sigma_8` when you initialise the `Cosmology` object?

Also, could you paste a minimal example that causes this problem, please?

[2018-02-13 18:18] philbull commented on #326
I'm not getting this bug, and the tests are passing on `master`, so not sure what's going on. It might be something to do with your setup -- do the C tests work, i.e. when you run `make check`?

[2018-02-13 18:23] philbull commented on #291
@tmcclintock Can you briefly list what capabilities `cluster_toolkit` would provide, please? e.g. what functions would be added to the API?

[2018-02-13 18:28] philbull commented on #163
Closing this issue as "won't fix" for now. We could possibly revisit this later, but the current setup is working OK, and subsequent changes to `master` have fixed some consistency issues.

[2018-02-13 18:28] #163 closed

[2018-02-13 18:44] philbull commented on #308
Should this go in `CONTRIBUTORS.md`? We could add text along the lines of:

API Changes and Stability
An API breakage is anything that modifies the name or call signature of an existing public-facing function or variable (e.g. any function with the prefix `ccl_` in the C headers). Changes to keyword arguments of Python functions also fit this description, unless they are explicitly made backwards-

[2018-02-13 18:53] philbull commented on #326
Actually, it looks like your version of GSL is old. We depend on GSL 2.1 or higher.

[2018-02-13 18:54] alexander-mead commented on #327
The following python example exhibits this problem:

[code]

[2018-02-13 18:58] gvalogia commented on #326
Yes,

Based on short discussions I had, others also seemed to agree that It probably has to do with the older version of gsl used.
I plan on updating it in the next few days, so I will let you know if the problem persists.

[2018-02-13 19:01] alexander-mead commented on #327
And this persists if I replace '''As=2.1e-9''' with '''sigma8=0.8'''.

[2018-02-13 19:59] tmcclintock commented on #291
Sure. The toolkit was designed with cluster cosmology in mind, specifically cluster weak lensing. It has models for cluster density profiles in both 3D and projected including NFW, Einasto, Diemer-Kravstov, and various "2-halo" models. It has some mass-concentration relations implemented, as mass functions and halo bias models. It contains fast routines for computing things like sigma(M), sigma(R)

[2018-02-13 20:02] alexander-mead opened #330 "Distance calculation with bounce cosmologies"
First, let me apologise for posting this if this is a waste of time, but I was playing with CCL on the plane on the way back from SLAC...

I am getting a python kernel crash with the following script:

[code]

This cosmology is quite extreme (Omega_vac = 2!) and exhibits a bounce around a ~ 0.6 (in this particular example, so 'a' is *never* less than 0.6): there is no big bang and as t -> -inf the

[2018-02-13 20:05] tmcclintock commented on #330
IMO for version 1 it should definitely just gently exit.

Just curious, but do you know ballpark what kinds of things would need to be implemented to support such a model besides the integral you mentioned?

[2018-02-13 21:20] alexander-mead commented on #330
I guess it would depend. Obviously for such a model there isn't a CMB, so you couldn't really support that. If you still wanted to support the model in terms of being able to calculate distances and times as a function of scale factor then I think you need to reformulate the problem as calculating a(t) and Chi(t) because these are then not multi-valued. The problems arise when you ask for Chi(a),

[2018-02-13 23:24] elisachisari commented on #326
I have GSL 2.4 and I have ran into this this problem too. Python tests randomly give an error for C_ell integration. If you run the python tests several times in a row, sometimes it crashes, sometimes it doesn't. We think it might have to do with how GSL chooses seeds for integrations (@tmcclintock?).

[2018-02-13 23:26] elisachisari commented on #308
This looks like a good addition to CONTRIBUTE.md. In addition, I would say that before breaking the API, it's good policy to discuss with the team whether this is absolutely necessary. We don't want to have too many releases.

[2018-02-13 23:28] elisachisari commented on #292
Agreed. We'll leave this open for now.

[2018-02-13 23:29] elisachisari commented on #299
@philbull Do you have any thoughts on this one?

[2018-02-14 04:06] tmcclintock commented on #326
Definitely a problem. I'll get on it. My plan is to do the following:
- be able to run *just* the one test that causes this issue
- put in print statements figuring out the GSL RNG seed, and see if the seed is changing and if so, what seeds cause the crash
- figure out what causes the crash

Should I do this in a new branch?

[2018-02-14 17:33] alexander-mead opened #332 "UnicodeDecodeError or running python tests"
I am getting tests failing when I run the python tests using ```python setup.py test```. Strangely the number of tests that fail changes run-by-run, but has always been between 3 and 6 fails. Most of the error messages have 'UnicodeDecodeError' in them and come from 'Test mass function and supporting functions'. There is also one error which is the same as that reported in #326 . All the tests pas

[2018-02-14 17:41] villarrealas commented on #332
I've noted these errors show up in the Travis integrations as well, while not actually showing up as a Travis-CI failure. It seems to be primarily with Python 3.

[2018-02-14 17:49] philbull commented on #332
Can you provide a minimal script that (sometimes) causes the same error, please?

[2018-02-14 17:51] fjaviersanchez commented on #332
This is a known issue with python3 (see: http://lucumr.pocoo.org/2014/1/5/unicode-in-2-and-3/ and https://docs.python.org/2/howto/pyporting.html)

[2018-02-14 17:52] alexander-mead commented on #332
The minimal script is: ```python setup.py test``` where my 'python' points to a homebrew install of python3.

[2018-02-14 17:54] philbull commented on #332
OK, please send your Mac in the post and I'll take a look.

[2018-02-14 18:11] philbull commented on #332
Right, thanks @fjaviersanchez. So since I'm a dinosaur who doesn't have a working Python 3.6 interpreter to hand, I can't check to see how we should be dealing with these strings. Perhaps the swig wrapper is returning them as `bytes` objects, rather than `string`? Can anyone check this?

[2018-02-14 18:43] fjaviersanchez commented on #332
I think that if we force SWIG to return the strings as unicode should be enough

[2018-02-14 18:45] fjaviersanchez commented on #332
https://stackoverflow.com/questions/42148068/how-can-i-make-swig-return-unicode-objects-for-strings-in-python-2

[2018-02-14 22:01] philbull commented on #204
Closing this issue as resolved.

[2018-02-14 22:01] #204 closed

[2018-02-14 22:03] philbull commented on #168
Let's close this issue now. We can reopen if it becomes a problem again.

[2018-02-14 22:03] #168 closed

[2018-02-14 22:07] philbull commented on #198
Should we begin separating unit tests from validation tests?

[2018-02-15 00:09] tmcclintock commented on #326
This is the specific unit test that is causing the issue:
`assert_( all_finite(ccl.angular_cl(cosmo, lens1, nc2, ell_arr)) )`

It is found in `cc_test_pyccl_interface.py` and it calls `ccl_angular_cls()`. Will update as I go.

[2018-02-15 21:46] elisachisari commented on #326
@tmcclintock Sounds like a good plan. Yes, please open a new branch to incorporate any changes.

[2018-02-16 03:08] philbull commented on #332
OK, I think I've tracked down the bug. It's pretty bizarre.

The solution was to regenerate the SWIG wrapper. It was returning a garbled string that was a mix of the proper error message, some junk characters (that were causing the unicode issue), and a docstring from a different function! Very weird. This could have been caused by a merge gone wrong or something I suppose. (The autogenerated swig

[2018-02-16 03:09] #332 closed

[2018-02-17 03:23] ssamuroff opened #333 "Read in arbitrary tomographic dN/dz"
As far as I can see, setting up a dNdz_tomog object requires a redshift error function p(z_phot | z_spec) to be provided, which is then integrated with the dN/dz from Chang et al. One possibly useful extension is the ability to read in an arbitrary set of tomographic dN/dz directly without having to specify an underlying analytic error model. So, for example, one might want to input the DES Y1 red

[2018-02-17 07:57] damonge commented on #333
@ssamuroff : I think this is already possible through the Cl tracers, right? The N(z) is one of the parameters you pass to them, and it doesn't have to come from the dNdz_tomog, any N(z) will do. See for example ClTracerLensing in https://github.com/LSSTDESC/CCL/blob/master/pyccl/cls.py .
Does it make sense?

[2018-02-19 17:24] philbull commented on #308
OK, I'll make a pull request.

[2018-02-19 18:52] philbull commented on #324
This should now be fixed in PR #334 -- please review!

[2018-02-19 19:03] philbull commented on #333
We should make this a bit clearer in the examples, perhaps.

[2018-02-19 19:26] c-d-leonard opened #335 "Fix / improve neutrino-related user interface"
This is related to what I am working on now in the multiple_neutrinos branch and I am about to code up the fix, so I am just posting here for completeness and to invite any comments:

As some of you know, I spent most of hack day at the recent meeting trying to come up with a good, intuitive method for accepting neutrino information from the user, so that when CCL is called the defaults for neutri

[2018-02-19 20:33] philbull commented on #308
See PR #336.

[2018-02-19 20:34] philbull commented on #324
Fixed and merged.

[2018-02-19 20:34] #324 closed

[2018-02-19 22:14] alexander-mead commented on #335
For what they are worth, here are some of my thoughts. Please feel free to ignore them though:

I think that if you want to allow users to just pass 'neutrino mass' then the solution you propose is a good solution.

What was the argument against forcing users to either (a) pass all three neutrino masses explicitly or (b) at least force users to specify the hierarchy they are interested in, along w

[2018-02-20 01:42] alexander-mead opened #337 "Different transfer_functions and matter_power_spectrum"
When I generate a cosmology object I have the option to specify a ```transfer_function``` and a ```matter_power_spectrum```. I could not find an explanation of the difference between these two things in either the README, Doxygen docs or the pdf note that can be generated (000-ccl_note.pdf).

When specifying a cosmological model I can understand that one needs to specify a means of generating the

[2018-02-20 01:48] alexander-mead commented on #318
Via the python interface: if I find that ```ccl.sigma8``` gives me exactly the same result as ```ccl.sigmaR(cosmo,8/cosmo.params['h'])```, which I think is the correct behaviour.

[2018-02-20 01:58] alexander-mead commented on #327
*UPDATE* this problem goes away is I fix both ```sigma8=0.8``` and ```N_nu_rel=3.04``` in the cosmology object. Therefore, I think it is a manifestation of the emulator not liking parameters outside its range, or something like that, rather than a problem with the sigmaR function. I also get crashes when asking for the power spectrum, nothing to do with the sigmaR function.

To be concrete, sigmaR

[2018-02-20 02:06] alexander-mead commented on #327
I changed the name of this issue to reflect the fact that it has nothing to do with the sigmaR function. It may be related to other issues that are already open and that people are aware of.

[2018-02-20 03:00] c-d-leonard commented on #335
So, the argument against forcing users to pass all three neutrino masses was that it seems likely users who only want to care about the sum (probably many users / several working groups at least) will make adhoc choices of 3 masses to get the sum right. What we don't want is different people making different parts of a parameter inference pipeline to make different adhoc choices, so we want to giv

[2018-02-20 03:16] c-d-leonard opened #338 "Improved functionality / user interface of Omeganuh2_to_Mnu function."
In working on the multiple_neutrino branch and beginning the changes discussed in Issue #335 , I have been looking at the function Omeganuh2_to_Mnu, which currently (in master) takes the value of Omeganu*h^2 and converts it to the sum of neutrino masses. This function was added because the CosmicEmu emulator accepts Omeganuh2 as input, and we wanted to be able to make consistent external runs of t

[2018-02-20 03:28] ssamuroff commented on #333
Hi @damonge, @philbull - yes, you're quite right - thanks!
It could be worth stating explicitly somewhere that the n(z) required for the Limber calculation is just a numpy array, and that PhotoZFunction() and everything in ccl_lsst_specs.c are needed only for the purposes of generating analytic redshift distributions.
But to be honest the example about generating Cls is actually pretty clear - I t

[2018-02-21 19:03] philbull commented on #176
Hi @c-d-leonard, any progress on this? Do you know of any sensible tests we can add?

[2018-02-22 07:33] philbull commented on #198
OK, see PR #340 for a partial solution. Quite a few combinations of transfer functions and matter power spectrum types cause segfaults! We also have a number if transfer function types (like 'camb') that aren't supported.

[2018-02-22 14:32] asgr commented on #330
I think cosmocalc works reasonably out to OmegaL[0]=1.7, then something goes bad in the integral. Have a look a the plot tab to see the collapse and then "negative" comoving distances at the bounce z. (In case you are wondering, I occasionally get alerts to cosmocalc.icrar web mentions).

[2018-02-22 16:38] c-d-leonard commented on #176
I think that @damonge 's work on high-z may have solved this. We now have tests out to high z (ccl_test_distances_hiz.c for example). David is this solved?

[2018-02-22 16:47] damonge commented on #176
It might, but we haven't checked explicitly that our chi(z_LSS) matches CLASS's/CAMB's numbers for the same set of parameters

[2018-02-23 15:18] slosar commented on #176
Yes, let's do this -- this is the last thing I would like to see tested before I switch to CCL wholesale! :)

[2018-02-27 10:55] elisachisari commented on #258
Addressed by @christianel in #319. Documented in note and paper.

[2018-02-27 10:55] #258 closed

[2018-02-28 15:09] elisachisari commented on #318
Based on @alexander-mead's comment above, I'm closing this issue.

[2018-02-28 15:09] #318 closed

[2018-02-28 15:42] c-d-leonard opened #341 "convenience function for critical density in a given cosmology in Python"
It would be great to have a function for getting rho_critical in a given cosmology from the python wrapper (I know I'm not the only one who has to rederive this every time ...)

[2018-02-28 17:22] philbull commented on #337
Thanks Elisa, this is super useful! When you say `matter_power_spectrum=any` in the last two items, there are situations where this would fail I thought? e.g. `transfer_function=ccl_eisenstein_hu` and `matter_power_spectrum=ccl_emu` wouldn't work?

I think having the flexibility you mentioned is worthwhile, but I feel that it's too confusing to have separate lists for the `transfer_function` and `

[2018-02-28 17:38] damonge opened #342 "k_pivot"
CCL should report in the documentation what k_pivot is assumed. This is relevant when the user sets A_s rather than sigma8.

Right now this is set to whatever the default of CLASS is. This is 0.05 Mpc^-1, but it could vary in future versions (or with other versions used by users). We could set it to 0.05 by hand to make sure that whatever we document will not vary with the CLASS version.

[2018-02-28 18:38] alexander-mead commented on #341
I guess it would also be useful to have a function for rho_matter... and also for physical and comoving versions of rho_matter and rho_critical.

[2018-02-28 20:54] alexander-mead commented on #337
Okay, I think I understand this a bit better now. I think my suggestion would be the following:

Could it be set such that when you initialise a cosmology object you set a method for creating the linear power spectrum (e.g., CLASS, Eisenstein & Hu, BBKS, CAMB, ...) and then, optionally, also a method for creating the non-linear power (e.g., PD96, halofit, CosmicEmu, halo_model, HMcode, FAST-PT, pe

[2018-02-28 22:30] alexander-mead opened #344 "Clarification of the growth function"
The growth function in CCL is computed using some equations that assume that perturbations are much smaller than the horizon and that the universe is dominated by a single matter component. Under these assumptions a scale-independent growth function can be computed.

The assumption of scale-independence breaks down for massive neutrinos, but also for more standard models with baryons and dark matt

[2018-03-01 19:15] damonge opened #345 "mass function normalization"
The mass function should be normalized so that one recovers the mean matter density when integrating over masses. I believe this is not the case in the current implementation.

Running the code below should reproduce the issue.

[code]

[2018-03-01 19:17] tmcclintock commented on #345
Can you post the output as well?

[2018-03-01 19:26] alexander-mead commented on #345
What are your integration limits? It looks like 10^4 to 10^17 solar masses. I guess there is this standard problem that the mass function tends to slowly diverge at low masses and so getting correct limit is quite hard in practice, but it’s usually just a numerical problem…

For example, with the Sheth & Torman function (which I know a bit better) if you integrate between 100 solar mass haloes and

[2018-03-01 19:31] damonge commented on #345
Right, this shouldn't be a problem with the normalization, since our benchmarks at M>1E8 pass, and I agree it must have to do with whatever happens on low masses.

For most purposes this may be fine, but the halo model involve these types of integrals, so it may be that it matters for #339 .

@tmcclintock : the output is "This should be 1 : 0.726"

[2018-03-01 19:32] damonge commented on #345
I think the integrals I'm talking about are probably much better behaved when expressed as a function of nu, so that may be worth bearing in mind.

[2018-03-01 19:36] Naminoshi commented on #345
If I may contribute to the conversation, I agree with @damonge. This integral usually behave better as a function of nu (or sigma). One of the main issues of doing it on mass is the conversion of mass->sigma, that is usually difficult to have at low masses.

How is the sigma(M) being computed? is it an interpolation of some kind?

[2018-03-01 19:36] alexander-mead commented on #345
I just checked my own implementation of Tinker, which has no splines, and integrating between 10^3 and 10^17 Solar masses gets 0.555, rather than 1, for a vanilla LCDM cosmology at z=0. I think this is correct given what I said above. I think you need to integrate down to ~Jupiter size before this starts to converge.

[2018-03-01 19:40] damonge commented on #345
OK, great. Let's close this for the time being then. I guess @alexander-mead and @villarrealas are being smart at this with their halo model work!

[2018-03-01 19:40] #345 closed

[2018-03-01 19:42] alexander-mead commented on #345
The Sheth & Tormen function diverges like nu^-0.6 at low nu, so it is still quite slow to converge when doing the integral in terms of nu.

What I have done in the past to deal with this type of issue is to basically compute the integral down to a lower limit (say 10^2 solar masses) and then check how far away from one I am. I then alter the mass function to be whatever one I was using, and then s

[2018-03-01 19:44] damonge commented on #345
This makes a lot of sense, actually.

[2018-03-01 19:47] damonge commented on #345
Actually, one question @alexander-mead : does this trick work also to ensure that the bias of dark matter is 1? (assuming you use the trick to ensure that you recover rho_M)

[2018-03-01 20:00] alexander-mead commented on #345
I think so, in fact, the way I apply this is at the level of assuming a delta function in 'mass function x bias', rather than in 'mass function'. It should not matter though because for most (all?) bias functions the low-mass haloes have a constant anti-bias, so making the delta function in either 'mass function x bias' or 'mass function' should not matter.

[2018-03-05 15:37] heather999 opened #346 "Building latest master at NERSC"
Hi,
@yymao asked that we install CCL in the shared python environment at NERSC on Cori. I'm using master.  The build is a little different now that the class library is a requirement.  I've been following the issues #307, #12, and the instructions here: https://github.com/LSSTDESC/CCL/wiki/Using-and-Installing-CCL-on-NERSC. After completing the `python class_install.py` we still only have a static

[2018-03-05 17:42] fjaviersanchez commented on #346
@heather999 Have you tried including these flags:
``
export CRAYPE_LINK_TYPE=dynamic
export XTPE_LINK_TYPE=dynamic
``

[2018-03-06 16:58] heather999 commented on #346
Thank you @fjaviersanchez That fixed it.  I'm going to update the installing at NERSC wiki :)

[2018-03-07 15:05] #346 closed

[2018-03-07 16:08] elisachisari commented on #327
@alexander-mead When using the cosmic emulator, N_nu_rel has to be fixed to 3.04. This is because of how the emulator was calibrated. So CCL enforces this choice. If you call CCL with the emulator but use anything other than N_nu_rel =3.04, it will quit. Within the C files, this happens in ccl_power.c when you try to compute the matter power spectrum. This explains why your third cosmology seg fau

[2018-03-07 16:15] elisachisari commented on #344
@damonge @jeremyneveu Is the growth at any point used in computation of Cl's? (I.e., do we ever obtain the power spectrum at a given redshift by re-scaling with the growth?)

[2018-03-07 16:18] elisachisari commented on #342
It could be included in ccl_params.ini but we need to make sure we pass it to CLASS correctly by adding an initialisation in `ccl_fill_class_parameters'.

[2018-03-07 16:49] jeremyneveu commented on #344
@elisachisari the growth rate is used, but the growth function itself is not used explictely as we use directly the P(k,z) function.

[2018-03-07 16:52] elisachisari commented on #344
So we never do P(k,z)=P(k,z=0)D^2(z)? To my knowledge this is the only place where CCL might use D(z).

[2018-03-07 16:58] jeremyneveu commented on #344
Actually it is used in the master branch for the Cl's computation in hte Limber approx, but not to rescale the P(k,z) but to rescale the RSD effect term. This is no more present in the non_limber branch because the limber integrals are coded in a different way.

[2018-03-07 17:06] elisachisari commented on #344
If RSD is the only place where this appears now, I think we don't need to worry about the accuracy of the plot above for the time being. If we end up incorporating observables other than 3x2, then we can revisit this. I'm inclined to close this issue. @alexander-mead what do you think?

[2018-03-07 17:59] sjoudaki commented on #341
I can do it.

[2018-03-07 18:42] elisachisari commented on #309
Added.

[2018-03-07 18:42] #309 closed

[2018-03-08 16:34] tilmantroester opened #347 "Artefacts in lensing Cls"
I noticed that the lensing Cls have small artefacts (peaks at certain ell values). For the GG terms they are small (in this example < 0.1%) but become large (>1%) for the IA terms. The following plot shows the fractional difference between neighbouring ell-values:

![cl_artefacts](https://user-images.githubusercontent.com/26582252/37162250-aeab9f3a-22ec-11e8-84e1-78c1b81c012a.png)

I extract the G

[2018-03-08 16:49] damonge commented on #347
There are GSL integration parameters that could be tweaked for this, but they're not accessible to the user right now. Some of this may be fixed when the Angpow PR gets merged, so I'd suggest waiting until then and checking again (I'll rerun the code).

[2018-03-12 15:22] alexander-mead commented on #344
@villarrealas @tmcclintock : does the growth function get used to scale sigma(R)/sigma(M) in redshift? I thought it did. This may not be accurate at the 1e-4 level given the plot above?

[2018-03-12 15:26] damonge commented on #344
Yes it does!
https://github.com/LSSTDESC/CCL/blob/9bc95796b328e4b50b8a09970431786d2e3c2f14/src/ccl_massfunc.c#L498

[2018-03-12 20:21] alexander-mead commented on #344
Further to this, here are a few other plots:

![image](https://user-images.githubusercontent.com/9140961/37306894-6c16dfec-25f6-11e8-9edf-545d32861e29.png)

![image](https://user-images.githubusercontent.com/9140961/37306902-72b7271c-25f6-11e8-818b-a0afeb5147ca.png)

![image](https://user-images.githubusercontent.com/9140961/37306908-782af124-25f6-11e8-8ca2-e561ddc5cf05.png)

They all show the gro

[2018-03-13 20:35] sjoudaki commented on #341
Hi Danielle, are you happy for the units to be M_sun/h / (Mpc/h)^3?

[2018-03-13 20:39] alexander-mead commented on #341
I think that, in order to be consistent with everything else, the units should not have h factors in them.

[2018-03-13 20:40] alexander-mead commented on #341
I wrote this function for the comoving matter density already, which I'm fairly sure is correct:

double comoving_matter_density(ccl_cosmology *cosmo){
  // The comoving density of matter. This is a constant. Units are Msun/Mpc^3 (no factors of h)
  return RHO_CRITICAL*cosmo->params.Omega_m*cosmo->params.h*cosmo->params.h;
}

[2018-03-13 20:53] sjoudaki commented on #341
Sounds good, I can certainly make sure no factors of h. What you've written is correct for the present. I've created the redshift-dependent "ccl_rho_x", will try to push soon.

[2018-03-13 22:44] alexander-mead commented on #341
I think ```CCL``` already has the constant z=0 ```RHO_CRITICAL``` defined, which has units of Msun/h / [Mpc/h]^3 (note this is with h factors) and has the value ~ 2.77466e+11

Copying out from my Fortran halo-model code, I have four other types of densities defined. I think these are sensible things to define, but maybe you should check... note that I use units *with* h factors and my constant ```

[2018-03-13 23:05] alexander-mead commented on #341
So, the comoving matter density is just a constant given by *Omega_m* multiplied by ```critical_density```. The physical matter density is just this comoving density times *(1+z)^3*.

[2018-03-14 16:22] tilmantroester opened #350 "Error in ClTracerLensing for certain step-function n(z)"
I'm getting an odd error when trying to create lensing tracers with certain n(z)'s. The affected n(z)'s aren't particularly special (they're step functions) but the occurrence of the error seems to be very sensitive to the specific n(z)'s.

The code snippet below is the shortest example I could reduce it too. The error usually occurs for upsample >~ 20. It works for upsample = 11, but doesn't work

[2018-03-20 19:52] EiffL commented on #280
@elisachisari @jablazek Quick question, there are 2 options:
  - Replacing the current implementation so that everywhere in the code b_I(z) gets replaced by A_I(z), thus changing the API, in particular the input parameters of `ccl_cl_tracer_new`
  - Give the user the option of providing b_I(z) or A_I(z) (for instance at the level of the python interface), then convert internally everything to b_I(

[2018-03-20 22:16] EiffL commented on #302
@damonge @elisachisari @jablazek Ok, I've looked into the issue, the culprit is here:
https://github.com/LSSTDESC/CCL/blob/b778440fba24252fdb9818480f81057368dd6800/src/ccl_cls.c#L742
The 4th argument in this gsl integration function is the `abserr` requested and is currently set to 0. I didn't find in the GSL documentation what happens when you set `abserr` to zero but I'll bet that it tries to co

[2018-03-20 22:58] NiallMac commented on #302
@EiffL In case at all useful, we had some sort of related confusion with abserr and epsrel in the Limber integration routines in cosmosis. I settled on setting abserr=0 by default since in this case (according to the gsl documentation) the gsl integration routines should just use epsrel, and given the wide range in absolute values different types of angular spectra can have, it wasn't obvious to m

[2018-03-21 08:13] elisachisari commented on #280
I would prefer the second option, so we can marginalize directly over b_I if we want without using A_I.

[2018-03-21 08:19] damonge commented on #280
I'd suggest implementing this once the angpow branch has been merged (which should be soon).

[2018-03-21 13:14] EiffL commented on #280
Ok great, happy to implement it, just ping me when the angpow branch is
ready then.

On Wed, Mar 21, 2018, 4:19 AM David Alonso <notifications@github.com> wrote:

[2018-03-21 15:16] elisachisari commented on #327
Pinging @philbull about this

[2018-03-21 15:20] #333 closed

[2018-03-21 15:27] elisachisari commented on #337
@alexander-mead

We could do this, and I can see some advantages to it, but my feeling is that many of these would be "incompatible". I think we need to figure out what combinations make sense for the user if we phrase it this way, compared against our current implementation. Worth running a poll on Slack?

Currently, if you call the emulator, you get the linear power spectrum from CLASS. 'BBKS+em

[2018-03-21 15:29] #308 closed

[2018-03-21 15:56] EiffL commented on #302
@NiallMac you were right, I didn't know about it but after a little more digging it turns out that indeed setting `epsabs=0` forces the integration function to consider only the relative error, so that's the right thing to do.

I have experimented a little bit more and my understanding is that the integration fails just in some edge cases because of round-off errors that occur because the `gsl_int

[2018-03-23 17:09] jablazek commented on #280
I agree that you should be able to specify {A(z), f_fred(z)} or b_I(z), the latter of which would override the assumed 1/Growth(z) scale dependence. Is that the baseline plan?

We also want to be sure that the IA pipeline is sufficiently flexible to allow additional parameters in the future (assuming we want FAST-PT and/or halo model implementations to be in CCL eventually). Are there any technica

[2018-03-23 17:11] damonge commented on #280
I think we're gonna have to deal with that carefully (e.g. right now linear parameters are easily implemented in the per-tracer transfer functions, but quadratic bias etc. are probably trickier). The same issues will arise for galaxy biases, so we'll make sure to do that sensibly

[2018-03-23 17:12] tilmantroester opened #354 "malloc error in ClTracerLensing when setting A_SPLINE_MAX < 1"
When creating a ClTracerLensing object with A_SPLINE_MAX set to less than 1, Python gives a malloc error.
[code]
The exception is just a type error
[code]

Here is  the code to cause this error, with A_SPLINE_MAX=0.98:
[code]

Tested on master with Python 3.5.3 and 3.6.1.

Upon digging a bit through the code, it seems that ccl_comoving_radial_distance returns NAN for a = 1./(1+zmax), which results

[2018-03-26 18:18] tilmantroester commented on #354
It turns out that setting A_SPLINE_MAX to less than 1 breaks a lot of things because in quite a few places functions get called with a=1. For example
 - ccl_h_over_h0 (isn't this always 1 for a=1?)
https://github.com/LSSTDESC/CCL/blob/f6f2d48e0a7653538a155cf02bf7982f53236eb6/src/ccl_cls.c#L164
 - ccl_linear_spacing https://github.com/LSSTDESC/CCL/blob/f6f2d48e0a7653538a155cf02bf7982f53236eb6/src/c

[2018-03-27 14:30] tilmantroester commented on #350
The issue is caused by a failure of the integration routine in window_lensing:
https://github.com/LSSTDESC/CCL/blob/f6f2d48e0a7653538a155cf02bf7982f53236eb6/src/ccl_cls.c#L64
This gives a roundoff error for certain values of chi for the offending n(z). I played around with different values for the number of Gauss-Kronrod points, the number of subdivisions, using the QAGS function, and the relative

[2018-03-27 15:17] tilmantroester opened #355 "Consistent and robust error handling"
I have run into some issues with the way errors are currently handled. The problem is that status is set to 1 (and maybe even some error message is set) but the execution of the code proceeds uninterrupted. New errors can occur and overwrite the original error message or worse, the error is caught at completely different location than where it originally occurred. This makes it very difficult to t

[2018-03-30 21:21] tilmantroester commented on #347
Since I was playing around with the GSL parameters for the other issue anyways, I figured I could check how ccl_angular_cl depends on the choice of GSL parameters. Plotted below are the fractional differences for different choices of epsrel and the number of Gauss-Kronrod points compared to the case where epsrel=1e-6 and 61 Gauss-Kronrod points. The grey band denotes a fractional difference of 1e-

[2018-04-01 09:28] elisachisari commented on #347
@tilmantroester thanks for doing this - none of the curves lie within the gray band then? What do you suggest to improve this? Is it as simple as decreasing epsrel (at the cost of extra computational time)?

[2018-04-02 09:31] elisachisari commented on #326
This seems related to #347

[2018-04-02 15:10] tilmantroester commented on #347
@elisachisari In case of the n(z) I used for the comparison, either using epsrel=1.0e-4 and GSL_INTEG_GAUSS61 or epsrel=1.0e-5 and GSL_INTEG_GAUSS51 gets us within the 10^-4 band everywhere. I haven't checked the impact on the computational time yet.
I'll implement a structure to hold GSL parameters analogous to ccl_spline_params, which should make these comparisons a lot easier.

[2018-04-02 15:50] joezuntz opened #358 "Odd temporary directory during installation"
Hi all,

The current setup.py does a weird thing to find a temporary directory to install to:
[code]
the dir that this returns is typically not user-installable without sudo.  Unless there's a reason for this odd path, this would be a better way of generating a temporary directory if that's what's needed:
[code]
though it should also be automatically deleted after install.

Best,
Joe

[2018-04-03 17:40] elisachisari opened #359 "Potential bug in ccl_test_cmblens.c"
When doing "make check", *if I run ccl_test_correlation_3d.c from the 3dcorrelation branch before or after the CMB lensing benchmark test, I get different results*. However, the order between tests should not matter. The difference is at the power spectrum level already. My suspicion is that the cosmology allocation/de-allocation is not working properly, and hence the second time I try to run ccl_

[2018-04-03 18:39] damonge commented on #359
Fixed by #360

[2018-04-03 18:55] #359 closed

[2018-04-04 08:41] elisachisari opened #361 "Benchmarks for cosmologies with curvature"
We currently don't have any benchmarks for cosmologies with curvature. We need at least a distance check to start with.

[2018-04-04 08:46] elisachisari commented on #358
In light of PR #357, this might become obsolete soon. Let's see if we manage to merge #357 soon. Otherwise, we'll look into this change.

[2018-04-04 13:57] elisachisari opened #362 "Improve citation records for CCL"
Once the CCL paper is available, we should include the bibtex record in the README. Checkout [CiteAs](http://citeas.org/sources).
In addition to the CCL paper, we should consider getting a DOI for each CCL version via [Zenodo](http://blog.zenodo.org/2017/05/30/doi-versioning-launched/).

[2018-04-04 14:37] pennalima opened #363 "Incorporate NumCosmo as a module?"
The Numerical Cosmology library (NumCosmo - https://github.com/NumCosmo/NumCosmo - https://numcosmo.github.io/)  is a free software C library whose main purposes are to test cosmological models using observational data and to provide a set of tools to perform cosmological calculations. Besides the functions related to cosmology, NumCosmo also provide mathematical and statistical tools.

In particu

[2018-04-04 16:30] tilmantroester commented on #347
Changing epsrel to something smaller than 1e-4 causes roundoff errors in the cls:histo test. Using GSL_INTEG_GAUSS61 is fine, however, and doesn't seem to incur any extra computational cost.
It might be worth considering a switch that allows the use of cquad instead of qag when necessary, since the latter seems to have problems with multiple integrals (e.g., this one, the one in issue #350) and cq

[2018-04-06 09:24] elisachisari opened #364 "Benchmark plots for Table 3"
We need to make some plots illustrating the comparison between CCL and the benchmarks summarized in Table 3 of the current paper version #247. I suggest we do so in a jupyter notebook that we can incorporate into the repo.

[2018-04-07 13:13] elisachisari opened #366 "Python notebook for 3x2"
I couldn't find a 3x2 example in our python notebooks. We could either extend existing ones (Lensing power spectrum or MCMC), or add a new one for 3x2.

[2018-04-10 20:58] philbull commented on #363
Hi @pennalima, thanks for filing this issue. CCL seems to have a lot of overlap with NumCosmo, so I'm not sure what we'd gain by integrating it into CCL. Users who want to use NumCosmo can just import it separately, can't they?

If we include both the CCL and NumCosmo routines in the same package, it might cause confusion, as people will have to choose whether to use the default CCL implementation

[2018-04-10 21:01] philbull commented on #363
Also, we are hoping that most users within DESC will use CCL by default, instead of external cosmology packages. This is to ensure consistency between different probes. If the CL working group is using different routines to everyone else, there's a risk of introducing inconsistencies. It also means that the external libraries will need to be tested/validated separately, which creates more work.

A

[2018-04-10 21:11] salmanhabib commented on #363
Or at least use CCL as a standard reference, @philbull ? It is always good to compute things different ways to make sure the answers agree. If CCL does not agree with method X, it will be important to figure out why, rather than just use the CCL answer. I think this is a more or less obvious point, but I always like to see people not relying on inherited wisdom, but doing a lot of checking and tes

[2018-04-11 10:57] elisachisari commented on #361
My mistake -  we already have some of these.

[2018-04-11 10:57] #361 closed

[2018-04-11 12:46] elisachisari opened #368 "Round-off errors in Omega_l affecting benchmarks"
If I create the following cosmology in python:
`cosmo_ccl1 = ccl.Cosmology(Omega_c=0.25, Omega_b=0.05, h=0.7, A_s = 2.1e-9, n_s=0.96)`
and then print it, I see that Omega_l is not 0.7 but 0.6999... This is sufficient to make CCL python outputs deviate from the benchmark accuracy, for example, when computing comoving distances. Is there a way we can correct this behaviour even if it requires passin

[2018-04-11 13:01] elisachisari commented on #198
@philbull shall we close this?

[2018-04-11 13:16] elisachisari commented on #219
xi(r) was addressed by #306 and merged.

[2018-04-11 14:28] pennalima commented on #363
Hi @salmanhabib,

I agree it is good to have different independent codes to cross-check the computations/analyses.

"These functions are also validated for accuracy (i.e. to a target precision of 10^-4). I'm not sure if this is the case for NumCosmo, as it seems like a more general-purpose package."
@philbull
Yes, we also validate our codes.
target precision of 10^-4 for the "final" cosmological c

[2018-04-11 14:40] tmcclintock commented on #363
@pennalima the cluster_toolkit doesn't implement anything itself that CCL already has. For instance calculating power spectra, the toolkit requires something like CCL. It does have old implementations of things like the halo bias and halo mass function that produce identical outputs to CCL. My feeling is that if the toolkit were to be a subclass of CCL then those functions would get removed from t

[2018-04-11 15:09] salmanhabib commented on #363
I think a rigorous program of independent code cross-verification is very important. My experience with the cosmological simulation community has made me very skeptical of internal claims of code accuracy. The 10**-4 requirement is actually quite stringent.

Also, a moment's thought should be enough to convince anyone that many inputs into the CCL (e.g., mass functions) have no chance of meeting t

[2018-04-11 15:24] #341 closed

[2018-04-11 16:59] tilmantroester commented on #368
According to https://github.com/LSSTDESC/CCL/blob/841a085ef7da5eaf2c90cb28c15caf32a1c05d27/src/ccl_core.c#L260,
Omega_l has contributions from Omega_g and Omega_n_rel, both of which are ~1e-5. Together they make up the difference between the reported Omega_l and 0.7.

[2018-04-11 17:02] pennalima commented on #363
Hi @salmanhabib,

I agree it is good to have different independent codes to cross-check the computations/analyses.

"These functions are also validated for accuracy (i.e. to a target precision of 10^-4). I'm not sure if this is the case for NumCosmo, as it seems like a more general-purpose package."
@philbull
Yes, we also validate our codes.
target precision of 10^-4 for the "final" cosmological c

[2018-04-11 19:33] c-d-leonard commented on #177
Completed with v0.3

[2018-04-11 19:33] #177 closed

[2018-04-16 15:12] joezuntz commented on #302
I've tested @EiffL 's fix and it solves the issue here.  Thanks!

[2018-04-17 14:58] tilmantroester opened #372 "Differences in Omega_n_rel between CCL and CLASS"
At the moment CCL and CLASS seem to give different values (factor of ~2) for the energy density of relativistic neutrinos.
Here's the snippet that should create the same cosmology but apparently doesn't:
[code]
This yields the following output for me:
[code]

This difference in Omega_n_rel causes differences on the order of 1e-3 in the comoving distance at high redshift. Hacking Omega_n_rel to the

[2018-04-17 19:00] philbull commented on #198
Fixed in PR #340.

[2018-04-17 19:00] #198 closed

[2018-04-22 13:01] elisachisari opened #373 "Make CCL accept a cosmology dictionary"
For better integration to TJPCosmo, let's make pyCCL accept https://github.com/philbull/cosmoparams instead of cosmological parameters on by one.

[2018-04-23 11:14] c-d-leonard commented on #372
Hi @tilmantroester, thanks for bringing this up. I will check into this.

[2018-04-25 15:46] pennalima commented on #363
Hi @philbull, @salmanhabib  and @tmcclintock ,

Thanks for the input!
I've discussed this issue with @vitenti (Sandro Vitenti - the main developper of NumCosmo) and he suggested to encapsulate CCL on NumCosmo.
Let's discuss this in more details in the telecon.

[2018-04-25 18:12] elisachisari commented on #368
Thanks @tilmantroester. I managed to match the cosmology from the benchmarks better now. I force omega_g to 0 and restore omega_l to the benchmark value. But it still doesn’t fully solve the problem.

[2018-04-26 19:04] elisachisari commented on #368
Issue found and solved! The trick is to set up the parameters struct, then correct the cosmological parameters to the ones I want, and only then set up the cosmology. This does the trick and I'm now starting to reproduce benchmark checks in python. Thanks to @reneehlozek who helped with identifying this. See the notebook in the benchmark_notebook branch for more details.

[2018-04-26 19:04] #368 closed

[2018-04-26 19:10] #302 closed

[2018-04-27 22:07] ellison-j opened #375 "Power spectrum example notebook gives error for neutrinos"
The example notebook examples/Power spectrum example.ipynb gives the following error when I try to run it:

TypeError                                 Traceback (most recent call last)
<ipython-input-12-731a3ccd1a94> in <module>()
----> 1 cosmo = ccl.Cosmology(Omega_c=0.27, Omega_b=0.045, h=0.67, A_s=2.1e-9, n_s=0.96,                      N_nu_rel=3.04, transfer_function='emulator',matter_power_spe

[2018-05-04 03:39] MarkusMichaelRau opened #376 "Segmentation fault in cl calculation"
Hey all,

first of all thanks for this awesome package, which is one of the most significant contributions to the community in the last years.

I get a segmentation fault when I execute the following code:
[code]
Output: Segmentation fault: 11

My ccl version should be quite new, I installed it about three weeks ago. My operating system is MacOS 10.11.6.

The error appears, if I calculate the angu

[2018-05-04 07:12] damonge commented on #376
@MarkusMichaelRau . Thanks for reporting this. Note that when using the BBKS or E&H power spectra you should specify sigma8 instead of A_s. Hopefully this will sort out your problem, but we should definitely do better at raising an exception when this happens rather than segfaulting.

[2018-05-04 16:06] MarkusMichaelRau commented on #376
This solves the problem thanks!

[2018-05-04 16:06] #376 closed

[2018-05-21 22:25] alexander-mead opened #379 "Compilation error; OSx -lgcc_ext.10.4"
I am currently getting an error when trying to build the latest CCL master branch. I’m running up-to-date OSx and wasn’t getting this before. The exact error is `ld: library not found for -lgcc_ext.10.4`. The full error is:

[code]

Am I doing something daft?

[2018-05-23 18:46] alexander-mead commented on #379
Okay, this seemed to be some strange OSx-related error to do with the Xcode C or C++ compiler (which I think is called clang). I was able to circumvent it by demanding that CCL used my homebrew installs of gcc and g++ instead via:

`./configure CC=gcc-8 CXX=g++-8`

Now I can compile the latest master branch and all the test pass, which is nice.

[2018-05-23 18:46] #379 closed

[2018-05-23 19:53] tmcclintock commented on #379
You are correct, the default C/C++ compiler on Macs is called clang. And when you use gcc on a mac terminal, it is secretly calling clang, and not gcc. Nice job figuring this out :).

[2018-05-23 20:48] alexander-mead commented on #379
I also had to do a similar issue with the python installation, where the C compiler once again defaulted to clang rather than gcc. I guess I was always using clang before and I suppose I must have screwed up my clang installation somehow, but I don't know why this only manifested itself when I pulled the latest branch.

Both of these things could be solved simultaneously by me setting the environm

[2018-05-24 17:09] elisachisari opened #380 "Graceful exit for growth and neutrinos"
Make CCL exit gracefully if the growth function is called for cosmologies with massive neutrinos.

[2018-05-25 00:09] tmcclintock opened #381 "Reduce the size of the repo"
Currently, a fresh cloning of CCL yields an 86 MB repository. This is far too large for a code base that only contains theory code. The `src`, `include` and `pyccl` directories are 1.2 MB in total. `doc` is 25 MB, and pulling down other branches can inflate CCL well over 100 MB. Since we are developing the paper, can we get rid of the ccl_note? Additionally, it might be worth getting rid of the pr

[2018-05-25 13:17] elisachisari commented on #381
Let's start by the old branches and any figures we don't need anymore (I'm sure there are old ones there). I think the note should stay, it has different info from the paper and we often go back to it. Let's see how we stand afterwards and if needed we'll get rid of the doxygen outputs.

[2018-05-28 19:02] alexander-mead opened #383 "Problems with make and libtool after trying to add new module"
I am having some trouble compiling the new branch I have created. The error I am getting on running `make` is:

`
ld: library not found for -lccl
collect2: error: ld returned 1 exit status
make[2]: *** [tests/check_ccl] Error 1
make[1]: *** [all-recursive] Error 1
make: *** [all] Error 2
`

I think that for some reason the CCL library is not being created at the first stage of the `make` command.

[2018-05-29 02:24] alexander-mead opened #384 "C libraries remain after python install, even after make uninstall"
I wanted to report a small issue I was having with the C libraries that someone with the technical know-how may be able to fix very quickly.

If I run: `configure; make; make install` then the C libraries are installed to `/usr/local/lib`. I can then run `make uninstall` and the libraries are removed as I would expect. This is great.

If instead I run `./configure; make; make install` and then do

[2018-05-29 03:55] alexander-mead commented on #383
UPDATE

This can be fixed by @philbull doing the following:

[code]

but if I repeat these steps on my Mac the problem persists. However, if I pull a branch that Phil has run these steps on it works fine for me and I can continue my development.

I think we are both running the same version of `autoreconf` (v 2.69).

[2018-05-29 05:55] alexander-mead commented on #383
This problem was solved by me downgrading my version of `automake` from 1.16.1 to 1.15.1. If I do the downgrade and then re-run `autoreconf -i` after doing `make clean` then everything compiles and installs correctly.

Note that this problem was not to do with my branch. It was caused (somehow) by the newer version of `autoreconf`. I was able to reproduce the problem in a clean clone of the master

[2018-05-29 05:55] #383 closed

[2018-05-29 17:09] tilmantroester commented on #347
Addressed with PR #371.

[2018-05-29 17:09] #347 closed

[2018-05-29 17:10] tilmantroester commented on #350
Addressed with PR #371.

[2018-05-29 17:10] #350 closed

[2018-05-30 12:45] slosar opened #386 "segfault if CCL_PARAM_FILE points to a non-existent file"
If CCL_PARAM_FILE environment variable points to a non-existent file, pyccl segfaults when creating a cosmology object:
[code]

[2018-05-30 17:09] EiffL opened #388 "Broken Angpow example"
@jeremyneveu  When I try to compile `ccl_sample_angpow` I get the  following error:
[code]
Which  seems to indicate that there has been a change in the  arguments to `ccl_parameters_create` related to mnu_convention which was not propagated to the example.
I can look into it, but this is probably a trivial thing to fix for people more accustomed with the API.

[2018-05-31 06:04] philbull opened #389 "CCL Halofit power spectrum significantly different from CLASS result"
In certain circumstances, the CCL Halofit power spectrum is significantly different from the CLASS Halofit power spectrum, even though CCL is calling CLASS to calculate it in the first place. This seems to be most significant at higher k and higher z when Omega_cdm is relatively low, although this is not necessarily the only time that the issue occurs.

The plot below demonstrates the problem. The

[2018-05-31 06:08] philbull commented on #389
Here's the code I used to produce the plot (you need classy installed; it's distributed with CLASS):
[code]

[2018-05-31 10:42] tilmantroester commented on #386
Addressed with PR #387.

[2018-05-31 10:42] #386 closed

[2018-05-31 10:43] tilmantroester commented on #372
Addressed with PR #374.

[2018-05-31 10:43] #372 closed

[2018-05-31 17:06] alexander-mead commented on #389
In your plot it looks like the CLASS P(k) curves have no Halofit correction for z=1.5 and z=2.0. They look like they are just linear theory.

[2018-05-31 17:16] #269 closed

[2018-05-31 17:17] elisachisari commented on #358
@joezuntz I'm closing this, as it no longer applies with the merge of #357.

[2018-06-05 18:20] alexander-mead commented on #389
When I try to run your code I get the following error:

[code]

[2018-06-06 13:21] tilmantroester commented on #176
I think with PR #374 (and #390 ) having been merged, this can now be closed.

[2018-06-06 13:21] #176 closed

[2018-06-07 12:55] philbull commented on #389
@alexander-mead Yes, that's the weird thing. It's as if halofit is just being switched off by CLASS at z >~ 1.5 or so. This happens if you use the CLASS binary or classy. But, weirdly, it doesn't happen if you call CLASS through CCL...

The error you're getting suggests that CLASS can't load a BBN-related data file that it depends on. I'm not sure why this would be happening -- are you using a ver

[2018-06-07 18:09] alexander-mead commented on #389
I did use the new build system.

[2018-06-13 10:41] elisachisari commented on #384
@EiffL Does the new installation (already merged) solve this issue?

[2018-06-13 10:45] elisachisari commented on #311
@c-d-leonard @elikrause Can we close this?

[2018-06-13 10:46] #358 closed

[2018-06-13 10:49] elisachisari commented on #380
Implemented in function ccl_background.c function `ccl_cosmology_compute_growth`.

[2018-06-13 10:49] #380 closed

[2018-06-13 10:50] elisachisari commented on #364
All plots have been incorporated in PR #369.

[2018-06-13 10:50] #364 closed

[2018-06-13 11:11] EiffL commented on #384
@elisachisari yes, this shouldn't be possible anymore

[2018-06-13 11:12] #384 closed

[2018-06-13 11:37] elisachisari commented on #338
@c-d-leonard can we close this?

[2018-06-13 11:38] elisachisari commented on #270
@EiffL can we close this following the new installation?

[2018-06-13 11:39] elisachisari commented on #335
@c-d-leonard can we close this?

[2018-06-13 11:42] elisachisari commented on #70
We now have a [registered package](https://pypi.org/project/pyccl/), so I'm closing this issue.

[2018-06-13 11:42] #70 closed

[2018-06-13 11:46] EiffL commented on #270
I think we should be ok now, cmake should handle all of this, but I have to admit I'm not 100% sure why the problem happened in the first place...

[2018-06-20 14:58] c-d-leonard commented on #335
@elisachisari Yep, this is done. I'll close it now.

[2018-06-20 14:58] #335 closed

[2018-06-20 14:59] c-d-leonard commented on #338
Yep, closing now.

[2018-06-20 14:59] #338 closed

[2018-06-20 14:59] c-d-leonard commented on #311
Yep, closing now.

[2018-06-20 14:59] #311 closed

[2018-06-21 21:51] tmcclintock opened #396 "Merge and simplify documentation"
At the moment, the documentation for CCL is difficult to keep up to date. There are two sets of docstrings: the C docstrings necessary for building the Doxygen files, and the docstrings in the Python wrappers which are merged automatically with the [API page](https://ccl.readthedocs.io/en/readthedocs_development/api/modules.html) on readthedocs. This is fine, since the functions necessarily have t

[2018-06-22 20:50] joezuntz opened #397 "WARNING: ccl_cls.c: ccl_angular_cl_native(): GSL error: generic failure"
When try to call pyccl.angular_cl using the attached code and a fairly vanilla n(z) on my laptop we get repeated printouts of this error message:

[code]
followed by
[code]
[nz.txt](https://github.com/LSSTDESC/CCL/files/2129101/nz.txt)
[ccl_error_thing.py.txt](https://github.com/LSSTDESC/CCL/files/2129104/ccl_error_thing.py.txt)

[2018-06-25 11:28] tilmantroester commented on #397
I just tried your example on the latest master and can't reproduce the error. I don't get any warning messages, even with `debug_mode(True)` enabled.

[2018-06-26 12:24] rmjarvis opened #398 "Exact neutrino masses"
I wrote this when reviewing the current draft of the CCL paper, and it occurred to me that I probably ought to post it here as an issue, rather than just on the Confluence page.

The paper says that you use currently do some Taylor approximation for computing the 3 individual neutrino masses given a total mnu.  This seems to me to be gratuitously inaccurate, when Newton's method will give you the

[2018-06-28 10:52] tilmantroester commented on #397
OK, I can reproduce the error when I install CCL with pip but not on the current master.
@EiffL what commit is the pypi version based on?

[2018-06-28 22:32] EiffL commented on #397
@tilmantroester the pip releases are tagged in the release section, the latest tag is https://github.com/LSSTDESC/CCL/releases/tag/v0.3.1
(I had to manually bump the pypi version to 0.3.2, but it's based on the same tag, adnd shouldn't happen in the future, now that it is automated)

[2018-06-29 04:33] cwwalter commented on #397
I just scrolled back and looked at what I was doing yesterday and it was already installing 0.3.2:

[code]

So I suspect this problem is still in 0.3.2.  Or did I misunderstand your comment?

[2018-06-29 04:47] EiffL commented on #397
Yes, sorry if I wasn't very clear, I meant v0.3.1 and v0.3.2 are the same, the bump in version was just to satisfy PyPi. And master has evolved quite a bit since then I suspect. If the problem is solved using master, then we could just cut a new update v0.3.3 at some point

[2018-06-29 04:59] EiffL commented on #397
hum..... that's really weird. @cwwalter @joezuntz I can't reproduce your problems on my machine, I'm exactly running your scripts but I don't get any messages, whether I use v0.3.2 or master :-/

[2018-06-29 05:02] cwwalter commented on #397
Did you install it via pip? Or some other way?

[2018-06-29 05:04] EiffL commented on #397
I install from source, by cloning the repo and running `python setup.py build` or `python setup.py install --user`. You get a lot more compilation messages that way.

If I had to guess, I would say the culprit may be the version of GSL that you guys are using. If found during the install process, CCL will use whatever GSL is on your machine, otherwise it will download and build v2.4 I think. I hav

[2018-06-29 05:07] cwwalter commented on #397
Hmm... but tilmantroester said above:

@EiffL what commit is the pypi version based on?

I can actually report that I  installed the conda version of GSL yesterday as a test and and it made no difference (but it is also 2.4).

[2018-06-29 05:10] EiffL commented on #397
ah, yes, good point. I assumed I would be able to reproduce the problem by checking out the version of the code corresponding to the PyPi release, but there might be a less obvious problem during the pip install. I'll check what happens on my machine

[2018-06-29 05:22] EiffL commented on #397
Ok, my bad, confirmed. v0.3.2 reproduces that issue when installed from PyPi. I'm looking into it

[2018-06-29 05:33] cwwalter commented on #397
BTW: While you are checking I also noticed this when I checked a random notebook:

[code]

gives:

[code]

Do you see that in addition?

[2018-06-29 05:45] EiffL commented on #397
Argh, that's quite bad... That notebook was supposed to trigger another error, for which we have a pending PR https://github.com/LSSTDESC/CCL/pull/353  I haven't seen that one before, we may have to open another issue... Thanks for finding this!

Regarding the present issue, I'm very confused, the source in the tarball used by pip is identical to master (for the .py and .c files) I don't understan

[2018-06-29 11:00] tilmantroester commented on #397
I had a quick look at the GSL code and the "generic failure" error is used quite rarely. The relevant line in the QAG routine is http://git.savannah.gnu.org/cgit/gsl.git/tree/integration/qag.c?h=release-2-5#n261, I think. I actually don't understand how one can even trigger that, since the exit conditions for the preceding `while` loop all seem to be covered by the other `if` statements.

[2018-07-03 23:22] tmcclintock opened #399 "Incorrect error for sigma8 naming convention"
I recently got the following error from CCL:
`RuntimeError: Error CCL_ERROR_INCONSISTENT: ccl_power.c: ccl_cosmology_compute_power_emu(): sigma_8 is not defined; specify sigma_8 instead of A_s`

The problem is that the correct parameter name is `sigma8` with no `_`. I could not locate in what file the error message is written. This should be an easy fix.

[2018-07-04 08:54] damonge opened #400 "Installation issue on Ubuntu in current master"
While trying to fix #399 , I realized the current version of master does not install in my sistem.
Error below:

[code]

[2018-07-04 09:01] damonge commented on #400
OK, this was due to me having an older installation of CCL that the compiler was including (instead of the new headers). This can be a bit confusing, but it's actually fixed.

[2018-07-04 09:01] #400 closed

[2018-07-04 09:42] damonge commented on #399
Fixed in #401 . Review should also be easy @tmcclintock  ;-)

[2018-07-04 16:57] #399 closed

[2018-07-09 10:48] #375 closed

[2018-07-10 16:23] tmcclintock opened #404 "CCL can't find CMake"
@EiffL I have attempted to reinstall CCL using `python setup.py build`, however CCL cannot find my CMake installation.

If I run `brew install cmake` I get the message `Warning: cmake 3.11.4 is already installed and up-to-date`, so CMake is not the issue.

Now, from the CCL directory if I run `python setup.py build` I get a huge list of errors that concludes with:
[code]

The start of the error lo

[2018-07-10 16:30] tmcclintock commented on #404
Within `CCL/build/` there is no `CMakeFiles` directory. The only two files are `lib.macosx-10.7-x86_64-2.7` and `temp.macosx-10.7-x86_64-2.7`.

I should mention, this error is occurring only after I tried doing `python setup.py build` before I had CMake installed. So I tried, it failed because CMake wasn't installed. I then installed CMake. I tried again and am getting this long winded error messa

[2018-07-10 16:33] EiffL commented on #404
Can you try:
[code]
And see what happens ?

[2018-07-10 16:35] tmcclintock commented on #404
Top level error:
[code]
bottom level:
[code]

[2018-07-10 16:59] tmcclintock commented on #404
This appears to be a Mac OS X issue. I'm going to close this, but for future reference the safest thing to do is make sure all dependencies (CMake, SWIG) are fully installed. This can help generate more useful messages during compilation.

[2018-07-10 16:59] #404 closed

[2018-07-11 11:42] #388 closed

[2018-07-11 11:55] elisachisari commented on #362
We should also consider getting an entry in [ascl.net](http://ascl.net) for CCL

[2018-07-11 16:22] philbull commented on #327
@elisachisari @alexander-mead I think this issue is fixed now. There have been a few improvements in error handling and catching incompatible combinations of cosmological parameters over the last few months. I ran a couple of Alex's examples, and they do now seem to raise Python errors, as they should.

[2018-07-11 17:23] tmcclintock opened #405 "Instructions run too many tests/the slow tests"
In three places, the instructions for installing CCL call for the user to run too many tests and/or tests that are too slow and should only be run on TravisCI. This includes any spot that directs the user to run `python setup.py test` including:
- the [README](https://github.com/LSSTDESC/CCL)
- the [readthedocs install page](http://ccl.readthedocs.io/en/readthedocs_development/source/installation.

[2018-07-11 18:16] #327 closed

[2018-07-11 18:42] tmcclintock opened #407 "Add 3D halo density profiles"
This issue serves as instructions for a hack day project at CMU.

Halo density profiles are necessary components for many cluster analyses. In DESC, they will form the backbone of cluster mass calibrations, for instance. At the moment, Fourier space halo profiles are implemented in the [halo model branch](https://github.com/LSSTDESC/CCL/pull/339), but these are not useful for the purposes of model

[2018-07-11 19:05] philbull commented on #407
A couple of points copied from Slack:
 (1) I think it would be best to keep the halo profiels in the same namespace as the other halo model stuff (which doesn't necessarily mean the same source file).
 (2) I think it would be good to support user-defined profiles instead of collecting a large library of particular profiles. The list of four mentioned above seem like a reasonable set of "built-in"

[2018-07-11 21:07] philbull commented on #389
The plot thickens. There is an automated switch inside CLASS that switches off halofit corrections if an internal parameter called `kmax` is too low. This is normally a silent failure, but you can see it if you set `nonlinear_verbose = 1` in the CLASS .ini file. When you do that, you get the following error:

[code]

[2018-07-11 21:12] philbull commented on #389
OK, it turns out that the Halofit corrections can be prevented from switching off by setting `P_k_max_h/Mpc` to a large-ish value, as recommended by the error message.

[2018-07-11 21:18] tmcclintock opened #408 "Add comoving volume element calculation to the background module"
An essential quantity to calculate is the comoving volume element, dV/dOmega dz, or the comoving volume per unit redshift and solid angle. This can be accomplished by combining splines already present in CCL. For reference, see eq. 28 of [this paper](https://arxiv.org/abs/astro-ph/9905116) by David Hogg.

The equation to be implemented is
![codecogseqn](https://user-images.githubusercontent.com/10

[2018-07-11 23:00] philbull opened #409 "Ugly output for neutrino mass when printing a `Cosmology` object"
The `__str__` method on the `Cosmology` object doesn't output a sensible string for the massive neutrino parameter, `mnu`. Instead, the output looks like `mnu: <Swig Object of type 'double *' at 0x1054b1390>`. The method should output the actual array of neutrino masses.

[2018-07-12 00:06] philbull commented on #389
I think I can mark this as closed now -- the behaviour we get is expected, although confusing. CCL seems to be doing the right thing though.

[2018-07-12 00:06] #389 closed

[2018-07-12 16:03] villarrealas opened #410 "Unit Tests to Check Basic Consistency Thoroughly"
Recently, an issue was brought up that most of `ccl.massfunc` can have very non-intuitive failures in `pyccl`, which has been narrowed down to issues in the `ccl_compute_cosmology_power` call.

Specifically:

`cosmo = ccl.Cosmology(Omega_c=0.25, Omega_b=0.05, h=0.7, n_s=0.96, sigma8=0.8)`
leads to a nan result for functions such as `ccl.massfunc` while

`cosmo=ccl.Cosmology(Omega_c=0.25, Omega_b=0

[2018-07-12 20:02] alexander-mead opened #411 "CLASS thermodynamics issues when doing pip install"
With the new `pip install pyccl` system I am running into problems when running the `Power Spectrum example.ipynb` notebooks. I am running the latest CCL version and have up-to-date OSx.

If I do `pip install pyccl` then run the notebook I get the following error:

[code]

whereas everything works fine when I install CCL via `python setup.py install`.

[2018-07-13 09:02] damonge commented on #299
I think there's a point in noting this in the documentation (that tracers hold some cosmology-dependent information) so people don't make that mistake, but there's only so much you can do to enforce consistency without losing modularity and ease of use (i.e. I wouldn't really implement any software measures to prevent this)

[2018-07-13 18:06] #366 closed

[2018-07-13 19:15] villarrealas commented on #410
Sure thing:

``import pyccl as ccl
cosmo = ccl.Cosmology(Omega_c=0.25, Omega_b = 0.05, h=0.7, n_s=0.96, sigma8=0.8)
ccl.sigmaR(cosmo,1)``

On my computer, this results in the error:
``UnicodeDecodeError: 'ascii' codec can't decode byte 0xb1 in position 348: ordinal not in range(128)``

[2018-07-14 04:43] EiffL commented on #411
Just to document my findings, the problem comes from the fact that CLASS loads a bunch of files at runtime, from a hardcoded path... When we install with pip, CCL and CLASS are compiled in a temp dictionary, and then moved to an install location, while the build directory gets deleted. At which point, CLASS stops working. The reason why all the tests pass on travis is that the CLASS build director

[2018-07-16 16:41] #411 closed

[2018-07-16 18:26] EiffL opened #416 "Ability to specify which version of Python to build against"
@j-dr and @damonge ran into an issue recently which has to do with selecting the correct python interpreter. Right now the install script uses whichever interpreter is returned when running `python` to identify the target interpreter. This is robust and should cover the majority of use cases, however sometimes people want to be able to explicitly use another command, like `python3` or `python2`.
W

[2018-07-16 18:32] EiffL commented on #397
Ok, I think we found the source of this problem, and it had to do with missing CLASS files, which triggered a chain of errors which got caught by the GSL warning mechanism instead of being transmitted as a CLASS error.
We now should have fixed the CLASS issue, so this error should not happen in master anymore, however the GSL warning triggered by a CLASS error issue is not solved, so we should ope

[2018-07-16 23:08] elisachisari commented on #397
I've approved @EiffL's PR and have seen this issue go away, so I'll close it and open the other one instead.

[2018-07-16 23:08] #397 closed

[2018-07-16 23:10] elisachisari opened #417 "Missing CLASS files trigger GSL warning mechanism"
In a previous version of our `pip install pyccl`, missing CLASS files were triggering a chain of errors which got caught by the GSL warning mechanism, instead of being transmitted as a CLASS error. While the issue with missing CLASS files has been solved in (see #397), we need to make sure that we are passing the errors around correctly.

[2018-07-17 13:35] elisachisari opened #418 "pyccl.__version__ undefined"
To check which version of CCL is currently installed, it would be useful to be able to run `print(pyccl.__version__ )` but this is currently undefined.

[2018-07-17 13:54] elisachisari opened #419 "Change Jupyter notebooks to be consistent with python3"
Because CCL runs on python3 in NERSC, we need to make sure all of our notebooks are consistent with that syntax.

[2018-07-17 14:50] elisachisari commented on #362
Here's a suggested ASCL entry to submit to the editor:

Code name: Core Cosmology Library (CCL)
Names of the code author(s): Large Synoptic Survey Telescope Dark Energy Science Collaboration
Description of the code: The Core Cosmology Library (CCL) provides routines to compute basic cosmological observables with validated numerical accuracy. For an input cosmological model defined by the user, CCL

[2018-07-17 16:54] #418 closed

[2018-07-18 00:02] alexander-mead opened #421 "Running only specific tests"
Is it possible to only run specific tests when doing development work? For example, a situation I have commonly found myself in is that I am only editing one specific .c file and I can be fairly confident that my meddling will only be having an effect on a few tests. It would be nice to be able to run these specific tests quickly, rather than having to go through the full test suite every time usi

[2018-07-18 00:56] alexander-mead opened #422 "Development workflow for C"
I had a few questions recently about what exactly I should be doing when developing the C code. I couldn't find the answers I was looking for in the README and feel it could do with a few extra lines. The things confusing me were:

(1) Do I need to `make install` every time I want to run tests and see if my changes are okay? I think I can just run `make` and then run the tests, but this relies on

[2018-07-18 09:21] tilmantroester commented on #421
You can specify the group of tests that are run, e.g., `check_ccl cls`, which cuts down the number of tests by a lot. I don't know how to run a single test though.

[2018-07-18 15:56] elisachisari commented on #422
Re: (3), I think this is because it can't find the path to the benchmark files it's supposed to read. It works when you run from the CCL root directory.

[2018-07-18 16:03] elisachisari commented on #422
I'm running into (4) as well and could only overcome by actually running `make install` which I think it's not suggested in the development option.

[2018-07-18 17:07] alexander-mead commented on #421
Ah, yes, that works and is exactly what I wanted. Is this documented anywhere? If not, maybe it should be. Otherwise this can be closed.

[2018-07-18 17:57] philbull opened #424 "Enable some non-vanilla dark matter options from CLASS"
CLASS is able to calculate observables for a number of more sophisticated dark matter models, like decaying CDM and annihilating DM. It would be nice to enable some of those options (in a simple way) through CCL.

[2018-07-19 03:57] EiffL opened #425 "Typo in "Lensing angular power spectrum" example notebook"
@cwwalter highlighted a typo in the [Lensing angular power spectrum](https://github.com/LSSTDESC/CCL/blob/master/examples/Lensing%20angular%20power%20spectrum.ipynb) at cell 7 which crashes the python kernel with following error:
[code]
it looks to me that it's only a typo and that cell 7 should use `bias_ia2` in the call to `ccl.ClTracerLensing`.

[2018-07-23 11:59] villarrealas commented on #410
Quick update:

The new v.0.3.5 pip install appears to have caught whatever was the underlying problem with this. However, this particular issue remains relevant for catching these sorts of errors in the future; sufficient unit tests would have revealed this in advance.

[2018-07-23 13:51] rmjarvis commented on #425
I would add that you should be checking for whatever caused the assertion error in the C layer at the python layer and raise a suitable exception.  Crashing the python kernel is bad form.

Indeed this typo is probably a good unit test to add with `assert_raises`.

[2018-07-23 13:55] rmjarvis opened #427 "UnicodeDecodeError when printing Cosmology in python 3"
In running @elisachisari's example 1 for her DE School lesson, I'm getting the following error when doing `print(cosmo_field)`:
[code]
This is using the tag 0.3.5 (current master when I installed it).

[2018-07-24 20:33] elisachisari opened #428 "Add CMB predictions"
Add CMB observables beyond lensing to CCL, as combined probed analyses form LSST will include them. These predictions can be directly output from CLASS, we just need to link them in the right way.

Suggested by @dodelson.

[2018-07-24 20:42] dodelson commented on #428
Wow, what fast service! I'm hooked

Sent from my iPhone

On Jul 24, 2018, at 4:34 PM, elisachisari <notifications@github.com<mailto:notifications@github.com>> wrote:

Add CMB observables beyond lensing to CCL, as combined probed analyses form LSST will include them. These predictions can be directly output from CLASS, we just need to link them in the right way.

Suggested by @dodelson<https://urld

[2018-07-24 20:50] villarrealas commented on #428
Should we also seek to offer something more general than CLASS, given we are moving away from that as a core dependency? I do not do CMB work, so I am uncertain how feasible this is.

[2018-07-24 20:52] damonge commented on #428
I think for CMB primary that's perfectly fine. The only thing we would probably want to add explicitly in CCL are auto- and cross-correlations with the secondary anisotropies (ISW, tSZ, kSZ, maybe CIB? CMB lensing is already there)

[2018-07-24 20:54] dodelson commented on #428
It might be useful at this early stage to consider timing. In des chains, we are having problems running with cmb as each sample can take up to 20 sec

Sent from my iPhone

On Jul 24, 2018, at 4:52 PM, David Alonso <notifications@github.com<mailto:notifications@github.com>> wrote:

I think for CMB primary that's perfectly fine. The only thing we would probably want to add explicitly in CCL are aut

[2018-07-24 20:57] damonge commented on #428
Mmh, is this because you're asking for both CMB and P(k) at low z at the same time and it takes too long to solve the perturbation equations? Otherwise CMB people should encounter the same issues, I guess.

[2018-07-24 21:11] dodelson commented on #428
Yes i think you're right, and part of solving that is choosing settings in, e.g. Camb optimally

Sent from my iPhone

On Jul 24, 2018, at 4:57 PM, David Alonso <notifications@github.com<mailto:notifications@github.com>> wrote:

Mmh, is this because you're asking for both CMB and P(k) at low z at the same time and it takes too long to solve the perturbation equations? Otherwise CMB people should en

[2018-07-24 21:15] AlexGKim opened #429 "Peculiar velocities or magnitudes"
An implementation of the peculiar velocity (or peculiar magnitude) correlation function.  Reference is Equation 29 in https://arxiv.org/pdf/1012.2912.pdf.

[2018-07-26 12:23] elisachisari opened #430 "Generalize tracers"
We need to generalize tracers in CCL such that they can take, for example, non-linear biases. This is needed for [TJPCosmo](https://github.com/LSSTDESC/TJPCosmo).

[2018-07-26 14:37] elisachisari commented on #407
Parallel hacks will take place for [SACC](url
https://github.com/LSSTDESC/sacc) and for [TJPCosmo](https://github.com/LSSTDESC/TJPCosmo) to ensure cluster number counts and lensing are integrated to the full combined probes pipeline. We should make sure all of this happens smoothly @empEvil @damonge.

[2018-07-27 12:51] villarrealas commented on #233
CCL is accessible on NERSC now and this issue is outdated, so this is being closed.

[2018-07-27 12:51] #233 closed

[2018-07-27 15:18] tilmantroester commented on #188
This appears to have been resolved. For the above code snippet I get
[code]

which seems like acceptable behaviour.

[2018-07-27 15:18] #188 closed

[2018-07-27 18:22] wagoner47 opened #431 "N(z) not normalized for ClTracerNumberCounts"
I didn't see this in an issue yet, so I apologize if it's already an open issue. I was trying to get power spectra for HSC, and was noticing some very large values (see first plot). I tried a few things, and settled on the N(z) being the issue. When I plot the N(z) from pyccl against the raw N(z) divided by the sum of all N(z) values, I noticed a difference (see second plot). I just thought I shou

[2018-07-27 19:56] wagoner47 commented on #431
Actually, it looks like it’s just that the order of redshift, N(z), and bias might be different between the NumberCounts tracer class and it’s parent class, which I didn’t realize.

[2018-07-28 19:46] damonge commented on #431
I'll close this, since we realized it was due to us using an outdated script.

[2018-07-28 19:46] #431 closed

[2018-08-07 21:24] EiffL opened #434 "CMake ignoring order of build dependencies on latest Travis macOS image (Xcode 9.4)"
@alexander-mead @elisachisari @philbull @damonge @c-d-leonard A few CCL builds have started to fail on Travis CI in the last week, for apparently no reason. This is due to an update of the default build environment for Mac OS X (see https://blog.travis-ci.com/2018-07-19-xcode9-4-default-announce ) which occurred on Tuesday, 31 July.

As far as I can tell, cmake was updated from version `3.9.4` to

[2018-08-07 23:15] EiffL commented on #434
Ok, fixed. Turned out that CMake subtlety changed what was covered by a call to `add_dependency` on the swig interface, the `.so` file was indeed requiring the SWIG executable and GSL in order to be built, but the python interface file was not covered. I changed the way the dependencies are specified and now everything works on whatever cmake version. Opening a PR.
Just for posterity, the followin

[2018-08-08 01:05] philbull commented on #434
Fantastic, thanks Francois!

[2018-08-08 03:10] #434 closed

[2018-08-08 16:56] elisachisari commented on #409
Same as #427?

[2018-08-08 16:57] elisachisari commented on #421
Now documented in the README.

[2018-08-08 16:57] #421 closed

[2018-08-08 17:48] AlexGKim commented on #429
Hi @philbull .  I suggest using as default the truncation given in Huterer et al. https://arxiv.org/pdf/1611.09862.pdf

We therefore assume `max = 20 if cos(θ) < 0.95 and `max = 200 otherwise

Although the truncation could be user configurable.

I do not believe that any flat-sky approximation is used for the equation in question.

Finally, the application in question assumes spectroscopic redshif

[2018-08-10 20:06] c-d-leonard opened #438 "Enable linear-theory-only Cells and angular correlation functions"
At the moment, we have it hard-coded that we use ccl_nonlin_matter_power for the power spectra required to get the C_ells and hence the angular correlation functions. However, there are use cases where we might want to compute these observables in linear theory only (e.g. in combination with modified gravity models where we don't have good models for nonlinear behaviour). It would be good to add a

[2018-08-13 15:26] c-d-leonard opened #439 "Error when running C tests within development workflow"
If I am using the C library development workflow (which means I don't install the library, only build locally) and then run the tests with build/check_ccl, the tests fail on number 39, corrs_3d:model 3 with error: 'ERROR 1032: ccl_power.c: ccl_cosmology_compute_power_class(): Error running CLASS thermodynamics:thermodynamics_init(L:304) :error in thermodynamics_helium_from_bbn(ppr,pba,pth);
=>ther

[2018-08-14 19:03] c-d-leonard opened #441 "Benchmarks and tests for galaxy-galaxy lensing Cl's and angular correlation functions"
As far as I am aware, we currently have no tests of the Cl's or angular correlation functions for the case of one number count tracer and one lensing tracer, i.e. galaxy-galaxy lensing. It would be great to add this.

[2018-08-15 14:03] jablazek commented on #438
+1. This should be a standard option in addition to the mode general (user generated) option that @damonge is working on.

[2018-08-15 15:54] damonge commented on #438
@c-d-leonard Agreed regarding @jablazek 's statement. However, note that this is already possible, you just have to select the linear power spectrum as your choice of non-linear power spectrum (matter_power_spectrum='linear', instead of e.g. 'halofit')

[2018-08-15 16:11] c-d-leonard opened #443 "Updates needed to CCL Note"
I reviewed the current status of the CCL note in master branch for any glaringly out of date aspects. Here's what I found:

- Author list may need updating
- Abstract says "These routines have been validated to an accuracy level, documented here, against the results of the Code Comparison Project.", but for most of our code base we do not validate against Code Comparison Project anymore.
- The fun

[2018-08-15 16:13] villarrealas commented on #443
Relevant to the author list: what is the procedure for authors changing institution on the DESC Note? Should it just contain the most recent institutional data or all institutions during CCL development? i bring this up because the DESC Note feels like more of an evolving document than something locked on submission like the paper.

[2018-08-15 16:38] elisachisari commented on #443
@c-d-leonard The constants are updated but in the paper branch unfortunately. They will merge when we merge that branch.
@villarrealas I would list your current institution and I would check this is up-to-date every time you add a new feature to CCL & the note. I added some lines in CONTRIBUTING to clarify this.

[2018-08-16 09:31] alexander-mead opened #445 "Power spectrum normalisation accuracy"
The following code:

[code]

prints out: 0.7998469805666433

This seems a bit strange to me. I would have thought it would be exactly 0.8. Is this a problem?

[2018-08-17 13:35] #398 closed

[2018-08-17 13:48] elisachisari commented on #443
Abstract, functionality, version umber, installation, angpow mention - all fixed. After updates from @c-d-leonard and @tilmantroester, and everyone updating their contribution, we should be ready for a review.
@EiffL could you check you are happy with the new installation sections?

[2018-08-21 12:37] jablazek commented on #438
@damonge @c-d-leonard : given this existing capability, is this issue already resolved?

[2018-08-21 19:53] c-d-leonard commented on #438
I think the existing capability solves the issue as I was thinking about it, thanks for reminding me of that.
I'll close this issue.

[2018-08-21 19:53] #438 closed

[2018-08-22 16:32] elisachisari commented on #443
Fixed that last point

[2018-08-24 13:00] elisachisari commented on #445
When we provide sigma8 for a cosmology that calls CLASS, there is a shooting method that looks for the corresponding A_s value (which is what CLASS really takes as input). From this, I gather that perhaps we should improve on the precision of that method. Pinging @elikrause to comment on this.

[2018-08-27 17:11] c-d-leonard opened #446 "P(k) calculation hangs for certain cosmologies"
I just found a case where with master I tried to compute the power spectrum for a particular cosmology and just got an indefinite hanging and / or terrible memory-related errors.

It's kind of a weird cosmology because I was computing numerical derivatives for Fisher forecasting but it's not totally crazy:
Omega_c = 0.205, Omega_b = 0.05, h = 0.68, sigma8=0.83, n_s = 0.96

I am wondering if CLASS

[2018-08-31 17:40] #443 closed

[2018-09-05 22:12] alexander-mead opened #447 "Benchmark_Comparisons.ipynb crashes in halo_model cell with python2"
I get a crash in the penultimate cell of Benchmark_Comparisons.ipynb (the one titled 'Halo Model Plots') when running the notebook with a python2 kernel. The crash is a severe kernel crash. The error is attached:

[Crash_information.txt](https://github.com/LSSTDESC/CCL/files/2354726/Crash_information.txt)

Tilman says that the crash is in the spline being called by the growth factor within the Eis